@media print {

.top_bar #searchform,
.content-weather,
body.home .slider_wrapper,
.blog-latest,
.indice_anclas,
.hamburger,
.footer,
body.page .ppb_module_cta_imagen_texto_boton 
{ display: none !important; }

body {
	font-size: 70%;
	margin: 20px;
}
.ppb_wrapper a:link:after { content: " (" attr(href) ") "; }

h1, h2, h3, h4, h5, h6 {
	color: #002855 !important;
}



.page-breadcrumb-wrapper {
	margin: 10px auto
}

.page-breadcrumb .the-modified-date {
	font-size: 14px;
	text-align: left;
}


body.home {
	.ppb_secciones_destacadas .page_content_wrapper {
		.box {
			width: 200px;
		}
		h3 {
			font-size: 20px;
		}
	}

	.ppb_descubre .page_content_wrapper .title ,
	.ppb_gestion_municipal .page_content_wrapper .title
	{
		font-size: 40px;
	}
	
	
	.ppb_descubre .page_content_wrapper {
		.box {
			width: 100%;
			height: auto;		
		}
		.image {
			float: left;
			margin-right: 1em;
		}
		h3 {
			display: block;
			margin: 0;
			text-align: left;
		}
	}

	.ppb_gestion_municipal .page_content_wrapper {
		.box .image {
			width: 80px;
		}
		.box h3 {
			font-size: 16px;
		}
	}	


}



body.page { 

	.bilder_modul {
		&.fixed {
			padding-bottom: 100px;
		}

		.col-md {
			width: 100%;
		}
		
		.col-md-8 {
			margin-bottom: 2em;
		}

		.page_content_wrapper .col-md-8 .content {
			h2 {
				font-size: 40px;
				line-height: 58px;
			}
			p {
				font-size: 22px;
			}
			ul li {
				font-size: 20px;
			}
		}
		
		.page_content_wrapper .col-md-4 .content ul {
			column-count: 2;
			
			li {
				margin-right: 30px;		
				font-weight: normal;
				font-size: 20px;
				
				img {
					max-width: 30px;
				}
			}
		}
			

	}





	.titular_bajada_c1_c2 {
	
		.page_content_wrapper {
			max-width: none;
		}
		
		.page_content_wrapper .col-md-12 .content h2 {
			font-size: 40px;
		}
			
		.page_content_wrapper .col-md-6 .content img {
			float: none;
			max-width: 400px;
		}
		
		.col-md-6 {
			float: none;
			width: 100%;
		}
		
	}

	.ppb_module_cta_imagen_texto_boton .page_content_wrapper .col-md-12 .content h3 {
		font-size: 20px;
		line-height: 30px;
	}


	.ppb_module_centros-salud ul {

		flex-direction: column;
		
		.centro-salud {
			width: 100%;
			background-color: transparent;
			display: flex;
			
			.featured-image {
				height: 200px;
				
				img {
					max-width: 400px;
				}
			}
		}
	}

}


body.page-empleo {
	#dejanos-tu-cv .box-cta {
		display: none;
	}
}





} // media print

