.top_bar #searchform {
    margin-right: 2em;

	input {
		margin-left: 6px;
		width: 200px;
	}

	label {
	    margin-bottom: 8px;
	}    
}




.andimol_clima {
	.anndimol-temp {
		padding-top: 0;
	}
	
	.icon {
		max-width: 70px;
		float: none;
		line-height: 0px;
	}
	
	i[class^="meteocons-"] {
		margin-right: 0;
	}
}













#page_content_wrapper .search_form_wrapper {
	float: none;
	width: auto;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 4em;
}

#page_content_wrapper .inner .sidebar_content {
	float: none;
	margin: 0 auto;
	width: 1080px !important;

	.searchform .searchform-s {
		width: 76% !important;
	}
}







body.home .ppb_wrapper .ppb_gestion_municipal {
	@media screen and (max-width:$mobile-width) {
		.box {
			 width: 150px !important;
			 margin: 0.3em !important;
			 float: none;
			 display: inline-block;
			 vertical-align: middle;
			 
			h3 {
				font-size: 0.9em !important
			}
			
			.image {
				width: 100%;
				max-width: 100px;
			}


		}
	}
}








.wrapper_max_width {
	max-width: 1080px;
	margin: 0 auto;
}


dl.inline-wrapped dt
, dl.inline-wrapped dd {
	display: inline-block;
}
dl.inline-wrapped dt:after{
	content: ":";
}
dl.inline-wrapped dt{
	font-weight: bold;
}

.arrow::before{
	display: inline-block;
	content: "";
	width: 1px;
	height: 1px;
	margin-left: 0.4em;
	vertical-align: middle;
	border-bottom: 4px solid transparent;
	border-right: 4px solid transparent;
}
.arrow.arrow-down::before{
	border-top: 4px solid #000;
	border-left: 4px solid transparent;
	margin-top: 0.2em;
	margin-left: 0.2em;
	
}
.arrow.arrow-left::before{
	border-top: 4px solid transparent;
	border-left: 4px solid #000;
}







.centered {margin: 0 auto;} 

body.page-ciudad #page_content_wrapper .inner .sidebar_content img {
	max-width: none !important;
}
body.page-ciudad #page_content_wrapper .row { margin-bottom: 6em; clear:both} 


body.page-ciudad .remove-margin-page { 
	margin-left: -4em; margin-right: -4em;  
	
	img { 
		width: 100vw; 
	} 
} 

body.page-ciudad .row-full-border { 
	border-top: 1px solid $deep-blue; 
	border-bottom: 1px solid $deep-blue; 
	padding: 3em 1em; 
	text-align: center;
	
	p { 
		display: inline-block; 
		margin: 0 !important; 
		font-size: 1.6em !important; 
		text-align: center !important; 
		line-height: 1.1em !important;
	}  
} 


body.page-ciudad .getting-here-list {
	margin: 0 auto 2em !important; 
	max-width: 600px; 
	position: relative; 
	list-style-type: none; 
	text-align: center;
	
	&::before {
		content: ""; 
		width: 2px;
		height: 90%; 
		background-color: $orange; 
		position: absolute; 
		left: 50%;
	} 
	
	li {
		margin: 1em 0; 
		font-size: 1.2em; 
		position: relative; 
		padding: 0.8em;  
		background-color: #fff; 
		text-align: center; 
		border: 2px solid $orange; 
		display: inline-block;
	} 
}

body.page-ciudad .imitate-caption {
	font-size: 1.2em !important; 
	font-style: italic; 
	max-width: 800px;  
	margin: 0 auto !important;  
	text-align: center !important;
}


body.page-ciudad .row.with-image { 
	display: flex; 
	align-items: center; 
	
	img {
		margin: 0 0.5em;
	}
	
	.slider img {
		margin: 0;
	}
	
	& > * {
		width: 50%;
	} 
}




body.page-ciudad .slider {
	position: relative; 
	
	div { 
		min-height: 400px; 
		min-width: 400px; 
	}

	img {
		display: block;
		margin: 0 auto;
	}

}


body.page-ciudad .thumbnails  {
	position: relative;
	cursor: pointer;
	margin: 0 1em;
	border-top: 10px solid $orange;
	
	.flex-direction-nav {
		width: 100%;
		height: 30px;
		margin: 0;
		
		a {
			opacity: 0.9;
		}
	}
	
	.slides div {
		overflow: hidden;
		width: 150px !important;
		height: 100px  !important;
		
		}
	.slides img {
		width: 200px !important;
		height: 200px  !important;
	}
	
}






.module_add_shortcode  {
	margin: 0;
	padding: 0 0 50px 0;
	font-size: 18px;
	line-height: 34px;

	.page_content_wrapper {
		max-width: 1080px;
	}

	.section-title {
		margin-top: 0px;
		margin-bottom: 40px;
		padding-bottom: 4px;
		border-bottom: 2px solid $orange;
		text-align: left;
		color: $deep-blue;
		font-size: 48px;
		line-height: 56px;
		font-weight: 900;
	}

	.text {
		margin: 1em 0;
	}
}





form.form-subscribe {
	background-color: $orange;
	color: #fff;
	padding: 1em;
	border-radius: 1em;
	margin: 2em auto;
	max-width: 700px;
   display: block;
	
	legend {
		color: inherit;
		font-weight: 900;
		font-family: $main-font;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 2px;
	}
	
	
	label, 
	.fake-label {
		color: inherit;
		margin-bottom: 0;
		font-weight: bold;
		font-family: $main-font;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 2px;
	}
	
	
	.inline {
		display: flex;
		padding-right: 3em;
		font-size: 0.9em;
		width: 100%;
	}	
	
	.inline label,
	.inline .fake-label {
		display: inline-block;
		width: 200px;
		margin-right: 1em;
	}
	
	
	input {
		border: 1px solid #939297;
		color: #666666;
		padding: 0.6em 1em;
		font-size: 1.0em;
		margin: 0;
		font-family: $main-font;
		width: 200px;
		border-radius: 5px;
		box-sizing: border-box;
	}
	
	
	input[type="radio"] {
		width: auto;
	}
	input[type="radio"] + label {
		width: auto;
		margin-right: 1em;
		margin: 0 1em;
	}

	input[type="submit"] {
		border: 1px solid #fff;
		background-color: $orange;
		color: #fff;	
		width: auto;
		
		&:hover {
			color: #000;
			background: #ffffff !important;
		}
	}

	input[type="checkbox"] {
		width: auto;
		margin-right: .4em;
		vertical-align: text-top;
	}	
	
	.row {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		align-items: center;
		margin: 0.5em 0;
	}
	
	.row.inline {
		.inline {
			width: 47%;
			padding-right: 1em !important;
			
			input {
				width: 100%;
			}
		}
	}
	

	.row.center {
		text-align: center;
		margin: 0 auto;
		
		p {
			width: 100%;
		}
	}
	
	
	.small-text {
		font-size: .8em;
		margin: 1em 0;
		font-style: italic;
	}

	
	.row.small-input input {
		width: 200px !important;
	}


	div.wpcf7-response-output {
		 margin-top: 1em !important;
	}

	span.wpcf7-not-valid-tip {
		color: #000;
	}
	span.wpcf7-list-item {
		margin-left: 0;
		display: block;
	}
	div.wpcf7-mail-sent-ok {
		border: 0;
	}
	
	.wpcf7-form-control-wrap {
		width: 100%;
	}

	div.wpcf7 input[type="file"] {
		border: 0;
	}


}


.icon::before {
	content: "";
	display: inline-block;
	font-family: 'FontAwesome';
	margin-right: 0.4em;
}
.icon.address::before {
	content: "\f0f8";
}
.icon.phone::before {
	content: "\f095";
}
.icon.hours::before {
	content: "\f017";
}






.ppb_module_centros-salud {
	ul {
	   list-style-type: none;
		display: flex;
		flex-wrap: wrap;
	}
	
	.centro-salud {
		width: 46%;
		margin: 0 2em 2em 0;
		border-radius: 10px;
		color: $deep-blue;
		font-size: 18px;
		line-height: 34px;
		font-weight: 400;
		text-align: left;
		overflow: hidden;
		background-color: $light-grey;
		
		@media screen and (max-width:$mobile-width) {
			width: 100%;
			display: block;
			margin-right: 0;
		}
		
		
		.featured-image {
			height: 300px;
			overflow: hidden;
			
			@media screen and (max-width:$mobile-width) {
				height: 210px;
			}
		
		
		}		
		
		.info {
			padding: 0.8em 1.5em;
			line-height: 1.5em;
			font-size: 0.9em;
			
			p {
				padding: 0;
				display: block;
				margin: 0.2em 0;
			}
			
			.title {
				font-weight: bold;
			    margin-bottom: 0.7em;
				 margin-left: -0.4em;
			}
			
			.more-info {
				margin-top: 1em;
			}
			
		}

	}
}

body.single-centros_salud {
	
	#page_caption {
		padding-top: 2em;
		background-position: center;
		background-repeat: no-repeat;

	 
		@media screen and (max-width:$mobile-width) {
			position: relative;
			
			.parallax_overlay, .parallax_overlay_header {
				height: 90%;
			}
		}
		
		.title {
			font-weight: bold;
			color: #fff;
			font-size: 3em;
			
			@media screen and (max-width:$mobile-width) {
				width: 100vw;
				font-size: 2em !important;
				position: relative;
			}
		}
	}

	.inner_wrapper {
		@media screen and (max-width:$mobile-width) {
			padding: 6em 1em;
		}
	}	
	
	.centro-details {
		font-size: 1.2em;
		width: 700px;
		margin: 0 auto 3em;

	}
	.centro-details dl {
		
		dt {
			font-weight: bold;
			margin: 1em 0 0;
		
		}
		
		dd {
			margin-left: 2em
		}
	}
	
	.post_wrapper {
	    list-style-position: inside;
		 
		 h4 {
			margin: 1em 0;
		 }
		 
		ul {
			margin: 0 0 1em 0 !important;
		}
		
				
		.cols {
			@media screen and (min-width: $mobile-width){
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;				
			}
			
			.col {
					margin: 3em 2em;
					width: 40%;
				
				@media screen and (max-width: $mobile-width){
					margin: 2em 0.7em;
					width: 100%;
				}
			}
		}
		
	}
}

body.post-type-archive-centros_salud {
	#list-centros_salud {
		ul {
			list-style-type: none;
			
			li {
				position: relative;
				display: flex;
				border-radius: 10px;
				background-color: $light-grey;
				overflow: hidden;
				margin: 2em auto;
				max-width: 900px;
				
				@media screen and (max-width: $mobile-width){
					flex-direction: column;
				}
				
				.featured-image {
					@media screen and (min-width: $mobile-width){
						min-width: 300px;
						width: 300px;
						margin-right: 2em;
						
						img {
							min-height: 225px;
						}
					}
				}
				
				.info {
					padding: 1em;
					
					.title {
						font-weight: bold;
						font-size: 1.2em;
					}
				}
			}
		}
	}
}






.people-list-wrapper {

	ul {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	li {
		margin: 1em 1em 3em;
		text-align: center;
		width: 300px;
		
		a {
			color: $deep-blue;
		}
		
		.image {
			 border-radius: 300px;
			 overflow: hidden;
			 width: 150px;	
			 height: 150px;			 
			 margin: 0 auto 0.7em;
			 
			img {
				margin: 0 auto;	
				height: 100%;
				width: 150px;
			}
		}
		
		.title {
			font-weight: bold;
			font-size: 1.1em;
		}
	}

}




.module_add_shortcode .nnice-cta {
	.row > .col {
		display: flex;
	}
	
	.text {
		width: 50%;
	}
	background-color: $orange;
	
	&.nnice-cta-form {
		border-radius: 1em;
		overflow: hidden;
		
		.text {
			margin: 0;
		}
	
		.content {
			background-color: transparent;
			color: #fff;
			
		}
		.box-image {
			background-position: center top;
			background-size:cover;
			min-height: 300px;
			height: 100%;
		}
		
		form.form-subscribe {
			border-radius: 0 1em 1em 0;
			color: #fff;
			max-width: 540px;
			
			h3 {
				color: inherit !important;
				text-align: center;
				margin-bottom: 1em;
				font-size: 1.6em;
			}
			
			.row.inline {
				justify-content: space-between;
			}
			
			.row > .inline {
				padding-right: 1em;
				width: 100%;
			}
			
			.row.inline .inline {
				width: 47% !important;
			}

		}
		
	}
}



body.page-1er-congreso-internacional-educacion-e-inclusion-desde-el-sur {

	#cronograma-congreso {
		background: url(../images/encabezado-congreso.png) top center no-repeat;
		padding-top: 210px;
		background-size: 1100px;
	}

	.accordion {
		.time {
			color: $orange;
			
			.arrow.arrow-down::before{
				border-top-color: $orange;
				
			}
			.arrow.arrow-left::before{
				border-left-color: $orange;
			}			
			
			
			&:hover {
				color: #000;
				.arrow {
					&.arrow-down::before {
						border-top-color: #000;
					}
					&.arrow-left::before {
						border-left-color: #000;
					}
				}
			}
			
		}

	}


	.day {
		 font-size: 1.8em;
		 }
	.time {
		margin: 1em 0;
		font-size: 1.21em;
		color: #000;
		font-weight: bold;
	}

	.mesas-container {
		 display: flex;
		 flex-wrap: wrap;
		 font-size: 0.8em;
		 
		 .mesa {
			  width: 208px;
			  margin: 0 4px;
			  
			  @media screen and (max-width:$mobile-width){
				width: 100%;
			  }
			  
				p {
					padding-bottom: 0.9em;
				}
			  
			  .place {
					font-weight: bold;
					font-size: 1.2em;
					min-height: 60px;
					border-bottom: 1px solid $orange;
					text-align: center;
					line-height: 1.3em;
					margin-bottom: 1em;
					padding-bottom: 0;
					margin-top: 2em;
					@media screen and (max-width:$mobile-width){
						min-height: 40px;
					  }
					
			  }
				.title {
					font-style:italic;
				}
			

		 }
	}

	.profesionales-videos {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		
		video {
			width: 80%;
			height: auto;
			min-width: 300px;
		}
		
		a {
			max-width: 300px;
			margin: 0.8em;
			position: relative;
			
			&:hover {
				opacity: 0.7;
			}
			
			&::after {
				content:"";
				background: url(../js/mediaelement/bigplay.png) top center no-repeat;
				width: 100%;
				height: 100px;
				position: absolute;
				top: 40px;
			}
		}
	}

}


body.page-espacio-tecnologico {
	fieldset.expand-sub-items {
		margin-bottom: 1em;
		
		legend {
			border-bottom: 1px solid;
			height: 30px;
			
			.arrow.arrow-down::before{
				border-top-color: #fff;
			}
			.arrow.arrow-left::before{
				border-left-color: #fff;
			}	
		}
		& > p {
			margin-left: 1em;
		}
	}

}




.box_pic-text-caption-wrapper {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.box_pic-text-caption {
	border-radius: 10px;
	width: 47%;
	float: left;
	overflow: hidden;
	min-width: 500px;
	margin: 1.4em 0;
	 
	.image {
		background-size: cover;
		height: 228px;
		width: 100%;
	}
	
	.text {
		color: #fff !important;
		background-color: $orange !important;
		font-weight: bold !important;
		font-size: 2.3em !important;
		padding: 1em !important;
		margin: 0px !important;
		line-height: 1.2em !important;
		height: 100%;
	}

}