.background-grey {
	background-color: #e2e2e2;
}

// FIX: temporal
.background-orange {
	background-color: $light-blue;
	color: #fff;
}

.page-template {
	font-family: $main-font;
	line-height: 1.4em;

	.has-medium-font-size {
		font-size: 1.2em !important;
		line-height: 1.3em !important;	
	}
	h3 {
		margin-top: 2em;
		margin-bottom: 1em;
		padding-bottom: 4px;
		border-bottom: 2px solid $light-blue;
		color: $deep-blue;
		font-size: 3em;
		font-weight: 900;
	}

	p, dl {
		padding: 0.5em;
	}

	p {
		hyphens: auto;
	}
}

@media screen and (max-width:700px){
	h1,h2,h3 {
		text-align: center;
	}

	.blog-latest {
		h1,h2,h3 {
			text-align: left;
		}	
	}
}

.mrg-alert-notice {
	padding: 2em 1em !important;
	background-color: $blue;
	text-align: center;
	color: #fff;
	margin-left: calc( -100vw / 2 + 100% / 2 );
	margin-right: calc( -100vw / 2 + 100% / 2 );

	&.icon-bell::before {
		content: "";
		display: inline-block;
		background: url(../images/bell.svg) no-repeat;
		width: 25px;
		height: 25px;
		margin-right: 0.6em;
		vertical-align: middle
	}
}

.mrg-toc {
	list-style-type: none;
	padding-top: 15px;
	border-top: 2px solid rgba(143, 143, 143, 0.5);
	max-width: 1080px;

	li {
		display: inline-block;
		margin-right: 1em;

		color: $light-blue;
		font-weight: 700;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 20px;

	}
}

// overwrite of original mrg theme

#page_content_wrapper .inner .sidebar_content {

	.wp-block-gallery {

		margin: 2em;
		@media screen and (max-width: 600px){
			margin: 0;
		}

		&.is-cropped img {
			height: inherit !important;
			
		}
	}
	
}
//overwrite super huge text
.page-template-page_mrg_simple_fullwidth .inner .sidebar_content {
	font-size: 18px;
}

.mrg-block-header {
	width: 100%;

	h2 {
		font-weight: 900;
		color: $aqua-green;
		font-size: 4.0em;
		line-height: 1em;
		margin-bottom: 0.6em;
	}

	.contact-title {
		margin-top: 0px !important;
		color: $aqua-green !important;
		font-weight: 700 !important;
		margin-bottom: 10px !important;
		font-size: 1.7em !important;
		line-height: 34px !important;
	}

	.contact-list {
		list-style-type: none;
		font-size: 1.3em;

		dd {
			margin: .7em 0;
		}

	}

	.wp-block-column:first-child {
		min-width: 64%;

		p {
			font-size: 28px;
			line-height: 36px;
		}
	}
}

.page-title-wrapper h1 {
	color: $aqua-green;
}

#page_content_wrapper .indice_anclas {
	left: 0;
}

#page_content_wrapper ol.mrg-toc {
	margin: 15px auto !important; //overwrite
	
	&.indice_anclas.fixed {
		top: 100px;
		padding: 0.4em 0;
	}
}

.cta, .mrg-cta {
	.btn, .wp-block-button__link {
		display: inline-block;
		margin-top: 2%;
		margin-bottom: 0px;
		padding: 11px 25px;
		border: 2px solid #fff;
		border-radius: 5px;
		background-color: $light-blue;
		color: #fff;
		font-size: 17px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		line-height: 17px;

		&:hover{
			background-color: #fff;
			color: #000;
		}
	}
}

.mrg-cta {
	border-radius: 10px;
	overflow: hidden;
	font-family: $main-font;
	display: flex;
	flex-basis: 0;
	margin: 3em 0;

	.has-large-font-size, .has-medium-font-size {
		padding-left: 0;
	}

	.has-medium-font-size {
		font-size: 1.7em !important;  
		padding-left: 0 !important;
	}

  @media screen and (max-width:700px) {
	  flex-direction: column;
	  height: auto !important;

  }
}

.cta.background-image {
	border-radius: 0;

	@media screen and (min-width: 800px )  {
		.wp-block-cover__inner-container {
			max-width: 70%;
		}
	}

}

.mrg-cta-vertical {
	flex-direction: column;
	margin: 0;

	.wp-block-media-text__media {
		width: 100% !important;
	}
}
#page_content_wrapper .inner .sidebar_content .mrg-cta img {
	height: 100% !important;
}

.mrg-cta.cta-image {
	
	.wp-block-media-text__media {
		position: relative;
		overflow: hidden;
		
		img {
			position: absolute;
			object-fit: cover;
		}
	}

	@media screen and (min-width: 800px) {
		.wp-block-media-text__media {
			min-height: 300px;
			width: 70%;
			min-width: 400px;

			img {
				top: 0;
				left: 0;
			}
		}

	}

	@media screen and (max-width: 700px) {
		.wp-block-media-text__media {
			height: 260px;
			width: 100%;

			img {
				vertical-align: top;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
}

.cta .donuth {
	width: 80%;
	height: 200px;
}

.cta-graph-img {
	.wp-block-column.image {
		margin: 0;
		flex-basis: 80%;

		figure, image {
			margin: 0;
		}
	}
	.wp-block-column.graph {
		max-width: 200px;
		text-align: center;
		margin: 0;

		.donuth {
			height: 200px;
		}

		.progress-text {
			color: $light-blue;
			font-size: 1.2em;
			line-height: 1.2em;
			font-weight: 900;
		}

		#ss_donuth_chart svg {
			position: relative;
		}
	}

	@media screen and (max-width:700px) {

		flex-direction: column;
		height: auto;
	 
		.wp-block-column.graph {
			margin-left: auto;
			margin-right: auto;
		}
	}

}
.page-agua .cta-graph-img {
	height: 260px;
}

.cta.cta-image.is-stacked-on-mobile {
	@media screen and (max-width:700px) {
		p, .wp-block-button {
			padding-left: 0em;
		}
	}
}

.wp-block-gallery.rounded-corners {
	img {
		border-radius: 10px;
	}

	&.is-cropped img {
		height: inherit;
	}

	@media screen and (max-width:700px) {
		margin-left: 0 !important;
	}
}

.mrg-block-number-wrapper {
	color: $deep-blue;
	text-align: center;
	display: flex;

	.wp-block-column {
		margin: 0.6em;
		background-color: #e2e2e2;
		border-radius: 10px;
	}
	
	.mrg-block-number {
		padding: 0.5em 1em 1em !important;
		height: 100%;
	
		.number {
			border-radius: 2em;
			background-color: $light-blue;
			color: #fff;
			font-size: 2em;
			line-height: 1.5em;
			font-weight: 900;
			height: 1.6em;
			width: 1.6em;
			margin: 0.6em auto;
			display: block;
			text-align: center;
		}
	}
}

.mrg-section-boxes {

	.wp-block-column {
		margin-left: 0 !important;
  }

	.mrg-block-column-spaces-vertical {
		margin: 1em 1em;
		max-width: 540px;	
		height: 100%;

		p {

			padding-left: 0 !important;
			padding-right: 0 !important;
		}

		dl {
			padding: 0;
		}

		.title{
			font-weight: bold;
			padding: 0 !important;
			font-size: 1.2em;
		}

		.text {
			padding: 1em 1em 1em 1.6em;
		}

		.image {
			img {
				width: 100%;
			}

			max-height: 214px;
			overflow: hidden;
			border-radius: 10px;
		}

		&.with-heading {
			margin: 0.5em;

			.heading {
				margin-bottom: 0px;
				padding: 9px 0;
				background-color: $light-blue;
				color: #fff;
				font-size: 18px;
				line-height: 27px;
				font-weight: 700;
				text-align: center;

			}

			.inline-wrapped {
				dd {
					display: inline;
				}
			}

			&.with-heading-image {
				.image {
					max-height: 300px;
					overflow: hidden;
				}	
			}
			
		}
	}

}

.mrg-section-grey-boxes-links {
	a {
		color: $deep-blue;
	}

	.box {
		background-color: #e7e7e7;
		border-radius: 10px;
		margin: 1em;
		text-align: center;
		padding: 1em;
		transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	-webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;

		img {
			max-width: 110px !important;
			margin: 0 auto;
		}

		.title {
			margin-bottom: 0 !important;
			margin-top: 0.4em !important;
			padding: 0;
		}
	}

	.wp-block-column:not(:first-child) {

		margin-left: 0px;
  
  	}

	a:hover {
		.box {
			//@include linear-gradient-2020();
			background-color: $light-blue;
			box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .58);

			img {
				filter: saturate(0) brightness(100);
			}
			.title {
				color: #fff;
			}
		}
	}
	&.section-no-spaces {
		.box {
			margin: 0;
		}
		
	}

	&.section-featured {
		.box {
			border-radius: 0;
			padding-top: 2em;
			// to align icons with diferent heights
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 160px;
			align-content: center;
			// end

			.title {
				font-size: 1.2em;
			}
		}
	}
}

.mrg-section-grey-boxes-links {
	display: flex;
	
	&:not(.section-featured) {
		flex-wrap: wrap;
		max-width: 1080px;
		.wp-block-column {
			max-width: 270px;
		}

	}

	.wp-block-column {
		margin: 0;

		@media screen and (max-width: 600px) {
			width: 33.3%;
			flex-basis: auto;
			
		}
	}

	.box {
		margin: 0.5em;
		hyphens: auto;

		@media screen and (max-width: 600px) {
			margin: 0.2em;

			.image {
				@media screen and (max-width: 600px) {
					width: 80px;
				}
			}

			.title {
				letter-spacing: 0.02em;
				font-size: 0.9em !important;
			}
		}

	}

}

.mrg-section-blue-alt-boxes-links.section-no-spaces {
	.box {
		background-color: #002f64;
		height: 290px;
		color: #fff;
		font-size: 18px;
		line-height: 30px;
		padding: 2em 2em 4em;
		transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	-moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	-webkit-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;

		p {
			padding-left: 0;
		}
		img {
			max-width: 80px !important;
		}

		.title {
			margin-top: 0.6em;
			margin-bottom: 0.2em;
			font-weight: 700;
			text-decoration: none;
			text-align: left;
			font-size: 1.6em;
			line-height: 1.6em;
		}
	}	
	.wp-block-column:not(:first-child) {
		margin-left: 0;
	}
	.wp-block-column:nth-child(2n) .box {
		background-color: $blue;
	  }	
	  
	.box:hover, .wp-block-column:nth-child(2n) .box:hover {
		box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .58);
		transition: transform 200ms ease 0s;
		transform: translateX(0px) translateY(-13px);
		//@include linear-gradient-2020();
		background-color: $aqua-green;
	  }

}

.page-template-page_home_fullwidth h2 {
	color: $light-blue;
	margin-top: 2.5em;
	margin-bottom: 1.6em;
	padding-top: 0;
	text-align: center;
	font-size: 2.7em;
	font-weight: 900;
	line-height: 1em;

}
.page-template-page_home_fullwidth .ppb_header_gallery {
	margin-left: calc( -100vw / 2 + 100% / 2 );
	margin-right: calc( -100vw / 2 + 100% / 2 );
	max-width: 100vw;
}

body.home {
	@media screen and (max-width:600px) {
		.wp-block-columns.has-5-columns.mrg-section-grey-boxes-links.section-featured {
			.wp-block-column {
				width: 49%;
				display: inline-flex;
				margin-bottom: 0.3em;

				&:last-child {
					width: 100%;
				}

				.btn {
					width: 100%;
					.box {
						height: 140px;
					}
					.image {
						width: 90px;
					}
				}

			}
		}

		.wp-block-columns.has-4-columns.mrg-section-blue-alt-boxes-links {

			.wp-block-column {
				width: 49%;
				display: inline-flex;
				margin-bottom: 0.4em;

				.btn {
					width: 100;
				}
				.box {
					padding: 2em 1em;
					text-align: center;
					
					.image {
						width: 60px;
						margin: 0 auto;
					}

					p {
						padding: 0;
					}
					.title {
						text-align: center;
					}

				}
			}

		}

	}
}

//NOTE: later move to proper stylesheet
.mini-article {
	@media screen and (max-width: 600px) {
		.image {
			height: 200px;
		}
		.title {
			
			font-weight: 600;
			font-size: 1em !important;
			line-height: 1.2em !important;
	
		}

		.category {
			font-size: .7em !important;
			letter-spacing: 0.07em;
	  }
	}
}

.ppb_module_centros-salud {
	ul {
		margin: 0 !important;
	}
}

body.page-transporte {
	.mrg-section-boxes {
		@media screen and (max-width: 600px){
			.mrg-block-column-spaces-vertical {
				width: 100%;
				flex: auto !important;
			}
			
		}
	}
}

.page-template-page_mrg_simple_fullwidth .page-content {
	@media screen and (max-width: 600px){
		padding: 0;
	}
}

body.page-mis-tramites {

	#tramites-populares {

		margin-bottom: 3em;
		justify-content: center;

		.wp-block-column {
			max-width: 300px;
		}

		.box .title {
			line-height: 1em !important;
		}

		@media screen and (max-width: 600px){
			.wp-block-column {
				width: 40%;
			}
			
			.box {
				margin: .1em;
			}
		}
	}
}

body.page-formularios {
	@media screen and (max-width: 600px){
		.mrg-section-grey-boxes-links .wp-block-column {
			width: 45%;
		}
	}
}