.top_bar #searchform {
    margin-right: 2em;

	input {
		margin-left: 6px;
		width: 200px;
	}

	label {
	    margin-bottom: 8px;
	}    
}

.andimol_clima {
	.anndimol-temp {
		padding-top: 0;
	}
	
	.icon {
		max-width: 76px;
		float: none;
		line-height: 0px;
	}
	
	i[class^="meteocons-"] {
		margin-right: 0;
	}
	
	.anndimol-temp {
		width: 212px;
	}
}

.indice_anclas.fixed {
	top: 80px;
}

.page-template-page_f #wrapper {
	//float:none;
}

#page_content_wrapper .search_form_wrapper {
	float: none;
	width: auto;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 4em;
}

#page_content_wrapper .inner .sidebar_content {
	float: none;
	margin: 0 auto;
	
	@media screen and (min-width:1000px) {
		width: 1080px !important;
		
	}

	.searchform .searchform-s {
		width: 76% !important;
	}
}

// Breadcrumbs: para que no se baje todo el bloque
.page-breadcrumb ul li {
	max-width: 450px;
	text-align: left;
}

.module_add_shortcode .fake-text-bajada-style .text {
	font-size: 28px;
	line-height: 36px;
	font-weight: 400;
	text-align: left;
	margin: 0 0 40px 0;
	padding: 0px;
}

body.home .ppb_wrapper .ppb_gestion_municipal {
	@media screen and (max-width:$mobile-width) {
		.box {
			 width: 150px !important;
			 margin: 0.3em !important;
			 float: none;
			 display: inline-block;
			 vertical-align: middle;
			 
			h3 {
				font-size: 0.9em !important
			}
			
			.image {
				width: 100%;
				max-width: 100px;
			}

		}
	}
}

.wrapper_max_width {
	max-width: 1080px;
	margin: 0 auto;
}

body.page-ciudad #page_content_wrapper .inner .sidebar_content img {
	max-width: none !important;
}
body.page-ciudad #page_content_wrapper .row { margin-bottom: 6em; clear:both} 

body.page-ciudad #page_content_wrapper, body.page-ciudad #page_content_wrapper .inner {
	width: auto;
	display: block;
}

body.page-ciudad .row-full-border { 
	border-top: 1px solid $deep-blue; 
	border-bottom: 1px solid $deep-blue; 
	padding: 3em 1em; 
	text-align: center;
	
	p { 
		display: inline-block; 
		margin: 0 !important; 
		font-size: 1.6em !important; 
		text-align: center !important; 
		line-height: 1.1em !important;
	}  
} 

body.page-ciudad .getting-here-list {
	margin: 0 auto 2em !important; 
	max-width: 600px; 
	position: relative; 
	list-style-type: none; 
	text-align: center;
	
	&::before {
		content: ""; 
		width: 2px;
		height: 90%; 
		background-color: $orange; 
		position: absolute; 
		left: 50%;
	} 
	
	li {
		margin: 1em 0; 
		font-size: 1.2em; 
		position: relative; 
		padding: 0.8em;  
		background-color: #fff; 
		text-align: center; 
		border: 2px solid $orange; 
		display: inline-block;
	} 
}

body.page-ciudad .imitate-caption {
	font-size: 1.2em !important; 
	font-style: italic; 
	max-width: 800px;  
	margin: 0 auto !important;  
	text-align: center !important;
}

body.page-ciudad .row.with-image { 
	display: flex; 
	align-items: center; 
	
	img {
		margin: 0 0.5em;
	}
	
	.slider img {
		margin: 0;
	}
	
	& > * {
		width: 50%;
	} 
}

body.page-ciudad .slider {
	position: relative; 

	@media screen and (max-width: 600px) {
		margin-left: calc( -100vw / 2 + 100% / 2 );
		margin-right: calc( -100vw / 2 + 100% / 2 );
		max-width: 100vw;
		width: auto;

	}

	div { 
		min-height: 400px; 
		min-width: 400px; 

		@media screen and (max-width: 600px) {
			max-height: 420px;
		}
	}

	img {
		display: block;
		margin: 0 auto;
	}

	& + .thumbnails {
		@media screen and (max-width: 600px) {
			margin-left: calc( -100vw / 2 + 100% / 2 );
			margin-right: calc( -100vw / 2 + 100% / 2 );
			max-width: 100vw;
			width: auto;
			
		}
	}

}

body.page-ciudad .thumbnails  {
	position: relative;
	cursor: pointer;
	margin: 0 1em;
	border-top: 10px solid $orange;
	
	.flex-direction-nav {
		width: 100%;
		height: 30px;
		margin: 0;
		
		a {
			opacity: 0.9;
		}
	}
	
	.slides div {
		overflow: hidden;
		width: 150px !important;
		height: 100px  !important;
		
		}
	.slides img {
		width: 200px !important;
		height: 200px  !important;
	}
	
}

.module_add_shortcode  {
	margin: 0;
	padding: 0 0 50px 0;
	font-size: 18px;
	line-height: 34px;

	.page_content_wrapper {
		max-width: 1080px;
	}

	.section-title {
		margin-top: 0px;
		margin-bottom: 40px;
		padding-bottom: 4px;
		border-bottom: 2px solid $orange;
		text-align: left;
		color: $deep-blue;
		font-size: 48px;
		line-height: 56px;
		font-weight: 900;
	}

	.text {
		margin: 1em 0;
	}
}

form.form-subscribe {
	background-color: $orange;
	color: #fff;
	padding: 1em;
	border-radius: 1em;
	margin: 2em auto;
	max-width: 700px;
   display: block;
	
	@media screen and (max-width: $mobile-width) {
		margin-top: 1em;
	}	
	
	legend {
		color: inherit;
		font-weight: 900;
		font-family: $main-font;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 2px;
	}
	
	label, 
	.fake-label {
		color: inherit;
		margin-bottom: 0;
		font-weight: bold;
		font-family: $main-font;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 2px;
	}
	
	.inline {
		display: flex;
		padding-right: 3em;
		font-size: 0.9em;
		width: 100%;
	}	
	
	.inline label,
	.inline .fake-label {
		display: inline-block;
		width: 200px;
		margin-right: 1em;
	}
	
	input, button {
		border: 1px solid #939297;
		color: #666666;
		padding: 0.6em 1em;
		font-size: 1.0em;
		margin: 0;
		font-family: $main-font;
		width: 200px;
		border-radius: 5px;
		box-sizing: border-box;
	}
	
	input[type="radio"] {
		width: auto;
	}
	input[type="radio"] + label {
		width: auto;
		margin-right: 1em;
		margin: 0 1em;
	}

	[type="submit"] {
		border: 1px solid #fff;
		background-color: $orange;
		color: #fff;	
		width: auto;
		padding: 1em 1.7em !important;
		text-transform: uppercase;
		
		&:hover {
			color: #000;
			background: #ffffff !important;
		}
	}

	input[type="checkbox"] {
		width: auto;
		margin-right: .4em;
		vertical-align: text-top;
	}	
	
	.row {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		align-items: center;
		margin: 0.5em 0;
	}
	
	.row.inline {
		.inline {
			width: 47%;
			padding-right: 1em !important;
			
			input {
				width: 100%;
			}
		}
	}
	
	.row.center {
		text-align: center;
		margin: 0 auto;
		
		p {
			width: 100%;
		}
	}
	
	.small-text {
		font-size: .8em;
		margin: 1em 0;
		font-style: italic;
	}

	.row.small-input input {
		width: 200px !important;
	}

	div.wpcf7-response-output {
		 margin-top: 1em !important;
	}

	span.wpcf7-not-valid-tip {
		color: #000;
	}
	span.wpcf7-list-item {
		margin-left: 0;
		display: block;
	}
	div.wpcf7-mail-sent-ok {
		border: 0;
	}
	
	.wpcf7-form-control-wrap {
		width: 100%;
	}

	div.wpcf7 input[type="file"] {
		border: 0;
	}

}

form.form-subscribe-cleaner {
	border: 2px solid $orange;
	padding: 1em;
	border-radius: 1em;
	margin: 2em auto;
	max-width: 700px;
	display: block;
		
	@media screen and (max-width: $mobile-width) {
		margin-top: 1em;
		max-width: none;
	}

	legend {
		color: inherit;
		font-weight: 900;
		font-family: $main-font;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 2px;
	}
	
	label, 
	.fake-label {
		color: inherit;
		margin-bottom: 0;
		font-weight: bold;
		font-family: $main-font;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 2px;
	}
	
	.inline {
		display: flex;
		padding-right: 3em;
		font-size: 0.9em;
		width: 100%;
	}	
	
	.inline label,
	.inline .fake-label {
		display: inline-block;
		width: 200px;
		margin-right: 1em;
	}
	
	input, button {
		border: 1px solid #939297;
		color: #666666;
		padding: 0.6em 1em;
		font-size: 1.0em;
		margin: 0;
		font-family: $main-font;
		width: 200px;
		border-radius: 5px;
		box-sizing: border-box;
	}
	
	input[type="radio"] {
		width: auto;
	}
	input[type="radio"] + label {
		width: auto;
		margin-right: 1em;
		margin: 0 1em;
	}

	[type="submit"] {
		border: 1px solid #fff;
		background-color: $orange;
		color: #fff;	
		width: auto;
		padding: 1em 1.7em !important;
		text-transform: uppercase;
		
		&:hover {
			color: #000;
			background: #ffffff !important;
		}
	}

	input[type="checkbox"] {
		width: auto;
		margin-right: .4em;
		vertical-align: text-top;
	}	
	
	.row {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		align-items: center;
		margin: 0.5em 0;
	}
	
	.row.inline {
		.inline {
			width: 47%;
			padding-right: 1em !important;
			
			input {
				width: 100%;
			}
		}
	}
	
	.row.center {
		text-align: center;
		margin: 0 auto;
		
		p {
			width: 100%;
		}
	}
	
	.small-text {
		font-size: .8em;
		margin: 1em 0;
		font-style: italic;
	}

	.row.small-input input {
		width: 200px !important;
	}

	div.wpcf7-response-output {
		 margin-top: 1em !important;
	}

	span.wpcf7-not-valid-tip {
		color: #000;
	}
	span.wpcf7-list-item {
		margin-left: 0;
		display: block;
	}
	div.wpcf7-mail-sent-ok {
		border: 0;
	}
	
	.wpcf7-form-control-wrap {
		width: 100%;
	}

	div.wpcf7 input[type="file"] {
		border: 0;
	}

}

body.page-medioambiente #wpcf7-f3292-p508-o1, body.page-medioambiente #wpcf7-f3176-o1 {
	width:400px;

	@media screen and (max-width: 600px) {
		width:92%;
	}

	p, .wpcf7-number {
		width:100%;
	}
}

//Note: only for pre-gutenberg
@media screen and (min-width: 800px) {
	body.page-medioambiente #ecomaraton.module_add_shortcode .row .text {
		width: 50%;
		display: inline-block;
	}

	body.page-medioambiente #ecomaraton.module_add_shortcode .row .content {
		width: 40%;
		display: inline-block;
		vertical-align: top;
		margin-left: 2em;

	}
}

.icon::before {
	content: "";
	display: inline-block;
	font-family: 'FontAwesome';
	margin-right: 0.4em;
}
.icon.address::before {
	content: "\f0f8";
}
.icon.phone::before {
	content: "\f095";
}
.icon.hours::before {
	content: "\f017";
}

.ppb_module_centros-salud {
	ul {
	   list-style-type: none;
		display: flex;
		flex-wrap: wrap;
	}
	
	.centro-salud {
		width: 46%;
		margin: 0 2em 2em 0;
		border-radius: 10px;
		color: $deep-blue;
		font-size: 18px;
		line-height: 34px;
		font-weight: 400;
		text-align: left;
		overflow: hidden;
		background-color: $light-grey;
		
		@media screen and (max-width:$mobile-width) {
			width: 100%;
			display: block;
			margin-right: 0;
		}
		
		.featured-image {
			height: 300px;
			overflow: hidden;
			
			@media screen and (max-width:$mobile-width) {
				height: 210px;
			}
		
		}		
		
		.info {
			padding: 0.8em 1.5em;
			line-height: 1.5em;
			font-size: 0.9em;
			
			p {
				padding: 0 !important;
				display: block;
				margin: 0.2em 0;
			}
			
			.title {
				font-weight: bold;
			    margin-bottom: 0.7em;
				 margin-left: -0.4em;
			}
			
			.more-info {
				margin-top: 1em;
			}

			.icon::before {
				margin-right: 0.6em;
			}
			
		}

	}
}

body.single-centros_salud {
	
	#page_caption {
		padding-top: 2em;
		background-position: center;
		background-repeat: no-repeat;

		@media screen and (max-width:$mobile-width) {
			position: relative;
			
			.parallax_overlay, .parallax_overlay_header {
				height: 90%;
			}
		}
		
		.title {
			font-weight: bold;
			color: #fff;
			font-size: 3em;
			
			@media screen and (max-width:$mobile-width) {
				width: 100vw;
				font-size: 2em !important;
				position: relative;
			}
		}
	}

	.inner_wrapper {
		@media screen and (max-width:$mobile-width) {
			padding: 6em 1em;
		}
	}	
	
	.centro-details {
		font-size: 1.2em;
		width: 700px;
		margin: 0 auto 3em;

	}
	.centro-details dl {
		
		dt {
			font-weight: bold;
			margin: 1em 0 0;
		
		}
		
		dd {
			margin-left: 2em
		}
	}
	
	.post_wrapper {
	    list-style-position: inside;
		 
		 h4 {
			margin: 1em 0;
		 }
		 
		ul {
			margin: 0 0 1em 0 !important;
		}
		
		.cols {
			@media screen and (min-width: $mobile-width){
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;				
			}
			
			.col {
					margin: 3em 2em;
					width: 40%;
				
				@media screen and (max-width: $mobile-width){
					margin: 2em 0.7em;
					width: 100%;
				}
			}
		}
		
	}
}

body.post-type-archive-centros_salud {
	#list-centros_salud {
		ul {
			list-style-type: none;
			
			li {
				position: relative;
				display: flex;
				border-radius: 10px;
				background-color: $light-grey;
				overflow: hidden;
				margin: 2em auto;
				max-width: 900px;
				
				@media screen and (max-width: $mobile-width){
					flex-direction: column;
				}
				
				.featured-image {
					@media screen and (min-width: $mobile-width){
						min-width: 300px;
						width: 300px;
						margin-right: 2em;
						
						img {
							min-height: 225px;
						}
					}
				}
				
				.info {
					padding: 1em;
					
					.title {
						font-weight: bold;
						font-size: 1.2em;
					}
				}
			}
		}
	}
}

.people-list-wrapper {

	ul {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.wp-block-gallery .blocks-gallery-item figure {
		flex-direction: column;
		align-self: center;
	}
	
	li {
		margin: 2em 1em 3em;
		text-align: center;
		width: 300px;
		
		a {
			color: $deep-blue;
		}
		
		.image {
			 border-radius: 300px;
			 overflow: hidden;
			 width: 150px;	
			 height: 150px;			 
			 margin: 0 auto 0.7em;
			 
			img {
				margin: 0 auto;	
				height: 100%;
				width: 150px;
				object-fit: cover;
			}
		}
		
		.title {
			font-weight: bold;
			font-size: 1.1em;
			color: $deep-blue;
			
		}
		
	}
	.wp-block-gallery .blocks-gallery-item figure .title {
		background: transparent;
			position: relative;
			padding-top: 0;
			line-height: 1.3em;
	}

}

.people-list-wrapper.avatar-as-circle {
	.image {
		border-radius: 300px;
	}
}

.people-list-wrapper.avatar-as-square {
	li {
		margin: 2em 0em;
		width: 270px;
	}
	li a {
		display: inline-block;
		position: relative;

		&:hover {
			img {
				opacity: 0.6;
			}
		}
	}
	.image {
		width: 200px;
		height: 200px;	
		padding: 0;
		margin: 0;
		border-radius: 0px;

		img {
			width: 100% !important;
			height: 100% !important;
			object-fit: cover;
		}
	}

	.title {
		display: block;
		text-align: center;
		max-width: 200px;
		font-weight: normal;
		font-size: 1.1em;
		line-height: 1.5em;
	}

	.wp-block-gallery.columns-2 .blocks-gallery-item figure{
		align-self: center;
	}
}

#page_content_wrapper .inner .sidebar_content .people-list-wrapper.avatar-as-square .image img {
	height: 100% !important;
}

.people-list-wrapper.avatar-as-square.rounded-corners {
	.image {
		border-radius: 20px;
	}
}

.nnice-cta {

	background-color: $orange;
	border-radius: 10px;
	
	.row > .col {
		display: flex;		
	}
	
	.box-image {
		background-size:cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 10px 0 0 10px;
	}
	
	.text {
		width: 50%;
		border-radius: 0 10px 10px 0;
	}
	
	.button-cta {
		display: inline-block;
		margin-top: 2%;
		margin-bottom: 0px;
		padding: 11px 25px;
		border: 2px solid #fff;
		border-radius: 5px;
		background-color: $orange;
		font-family: Muli,sans-serif;
		color: #fff;
		font-size: 17px;
		font-weight: 400;
		text-align: center;
		text-transform: uppercase;
		line-height: 17px;	
	}
	
	&.vertical-cta {

		margin: 0 auto;
		background-color: transparent;
		
		.row > .col {
			flex-direction: column;
			align-items: center;
			margin: 0 auto;
			max-width: 700px;
			width: 70%;
			
			@media screen and (max-width: $mobile-width){
				width: 100%;
			}
		}
		
		.box-image, .box-cta {
			width: 100%;
		}
		
		.box-image {
			border-radius: 10px 10px 0 0;
			
			height: 250px; /* hardcoded for salud > asperger */
			
			@media screen and (max-width: $mobile-width){
				height: 150px; /* hardcoded for salud > asperger */
				
			}
		}
		
		.box-cta {
			background-image: none;
			padding-bottom: 1em;
			border-radius: 0 0 10px 10px;
			text-align: center;
			word-break: break-word;
		}	

	}
	
	&.nnice-cta-form {
		border-radius: 1em;
		overflow: hidden;
		
		@media screen and (max-width: $mobile-width) {
			margin-top: 1em;
		}	
		
		.text {
			margin: 0;

			@media screen and (max-width: $mobile-width) {
				width: auto;
			}

		}
	
		.content {
			background-color: transparent;
			color: #fff;
			
		}
		.box-image {
			background-position: center top;
			background-size:cover;
			min-height: 300px;
			height: 100%;
			
			@media screen and (max-width: $mobile-width) {
				display: none;
			}
		}
		
		form.form-subscribe {
			border-radius: 0 1em 1em 0;
			color: #fff;
			max-width: 540px;
			margin: 0;
			
			@media screen and (max-width: $mobile-width) {
				max-width: 300px;
				padding: 0.4em;
			}			
			
			h3 {
				color: inherit !important;
				text-align: center;
				margin-bottom: 1em;
				font-size: 1.6em;
			}
			
			.row.inline {
				justify-content: space-between;
			}
			
			.row > .inline {
				padding-right: 1em;
				width: 100%;
			}
			
			.row.inline .inline {
				width: 47% !important;
				
				@media screen and (max-width: $mobile-width) {
					width: 100% !important;
					margin: .2em 0;
				}	
			}
			
			.submit-wrapper {
				text-align: center;
				margin-top: 2em;
			}

		}
		
		.mauticform-row {
			@media screen and (max-width: $mobile-width) {
				width: 100%;
			}	
		}
		
	}
}

.page-espacio-tecnologico .form-edlt-info-wrapper {
	@media screen and (max-width: 600px) {
		background: none;

		#mauticform_edltinformacioncursos {
			max-width: none;
		}
	}	
}

.agenda-congreso-educacion-wrapper { //congreso educacion
	.day {
		font-size: 1.7em;
	}
	.time {
		margin: 1em 0;
		font-size: 1.1em;
		color: #000;
		font-weight: bold;
		padding: 0 !important;
	}

	.congreso-educacion-accordion {
		.time {
			color: $orange;
			
			.arrow.arrow-down::before{
				border-top-color: $orange;
				
			}
			.arrow.arrow-left::before{
				border-left-color: $orange;
			}			
			
			&:hover {
				color: #000;
				.arrow {
					&.arrow-down::before {
						border-top-color: #000;
					}
					&.arrow-left::before {
						border-left-color: #000;
					}
				}
			}
			
		}

		.mesas-container {
			display: flex;
			flex-wrap: wrap;
			font-size: 0.8em;
			
			.mesa {
				width: 208px;
				margin: 0 4px;
				
				@media screen and (max-width:$mobile-width){
				width: 100%;
				}
				
				p {
					padding-bottom: 0.9em;
				}
				
				.place {
					font-weight: bold;
					font-size: 1.2em;
					min-height: 60px;
					border-bottom: 1px solid $orange;
					text-align: center;
					line-height: 1.3em;
					margin-bottom: 1em;
					padding-bottom: 0;
					margin-top: 2em;
					@media screen and (max-width:$mobile-width){
						min-height: 40px;
						}
					
				}
				.title {
					font-style:italic;
				}
			
			}
	}

	}
}

.videos-thumbnails-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
	video {
		width: 80%;
		height: auto;
		min-width: 300px;
	}
	
	.item {
		max-width: 300px;
		margin: 0.8em;
		position: relative;

		@media screen and (max-width: 600px) {
			width: 48%;
			margin: 0.2em;
		}
		
		&:hover {
			opacity: 0.7;
		}
		
		&::after {
			content:"";
			background: url(../js/mediaelement/bigplay.png) top center no-repeat;
			width: 100%;
			height: 100px;
			position: absolute;
			top: 40px;
		}
	}
}

body.page-espacio-tecnologico {
	fieldset.expand-sub-items {
		margin: 1em 0;
		
		legend {
			border-bottom: 1px solid;
			height: 30px;
			
			.arrow.arrow-down::before{
				border-top-color: #fff;
			}
			.arrow.arrow-left::before{
				border-left-color: #fff;
			}	
		}
		& > p {
			margin-left: 1em;
		}
	}
	
	.form-edlt-info-wrapper {
		.box-image {
			background-size: auto 1800px !important;
		
		}
		#mauticform_edltinformacioncursos {
			#mauticform_edltinformacioncursos_nombre, 
			#mauticform_edltinformacioncursos_apellido {
				width: 100%;
			}

		}
	}

}

.box_pic-text-caption-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
	@media screen and (max-width:$mobile-width){
		flex-direction: column;
		align-content: center;
	}
}
.box_pic-text-caption {
	border-radius: 10px;
	width: 47%;
	float: left;
	overflow: hidden;
	min-width: 500px;
	margin: 1.4em 0;
	
	@media screen and (max-width:$mobile-width){
		width: 100%;
		min-width: 320px;
	}
	
	.image {
		background-size: cover;
		height: 228px;
		width: 100%;
	}
	
	.text {
		color: #fff !important;
		background-color: $orange !important;
		font-weight: bold !important;
		font-size: 2.3em !important;
		padding: 1em !important;
		margin: 0px !important;
		line-height: 1.2em !important;
		height: 100%;
		
		@media screen and (max-width:$mobile-width){
			font-size: 1.6em !important;
		}
	}

}

.tablepress tfoot th, .tablepress thead th {
   background-color: #e7e7e7 !important;
	border-bottom: 0 !important;
}

.tablepress .sorting:hover, .tablepress .sorting_asc, .tablepress .sorting_desc {
	background-color: #6a6a6a !important;
	color: white;
	
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after {
	content: " " !important;
}

.tablepress td, .tablepress th {
	padding: 8px 10px !important;
}

.tablepress tbody td, .tablepress tfoot th {
	border-top: 1px solid #ddd;
}

#tabla-yacare-calles {
	font-size: 0.9em;
}

#tabla-yacare-calles_info {
	font-size: 0.7em;
	margin-bottom: 3em;
}

#map_puntos_carga .leaflet-top {
	z-index: 500;
}

#map_puntos_carga .leaflet-popup-content p {
	font-weight: bold;
	font-size: 1.2em;
	margin: 0;
}

#map_puntos_carga .leaflet-popup-content dt,
#map_puntos_carga .leaflet-popup-content dd {
	display: inline-block;
	margin: 0;
}

#map_puntos_carga .leaflet-popup-content dt {
	font-weight: bold;
}

#map_puntos_carga .leaflet-popup-content dd {
	margin-left: 0.3em;	
}

// not used
.big-buttons-icons-wrapper {
	text-align: center;
    display: flex;
    align-items: end;
    justify-content: center;

	 .btn {
		width: 240px;
		margin: 0.5em 2em;
		background-color: #e7e7e7;
		border-radius: 10px;
		padding: 0.8em;
		text-align: center;
		color: $deep-blue;
		height: 160px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		img {
			max-width: 120px !important;
			margin: 0 auto;
		}

		.label {
			margin: 0.9em 0 0 !important;
			text-align: center !important;
			font-size: 0.6em !important;
			font-weight: bold !important;
		}
	}
}

// for file away
.mrg-downloads-table-formularios {
	
	.ssfa-crumbs{
		font-size: 0.6em;
		background-color: transparent;
		padding: 0 !important;
	}

	table {
	
		border-spacing: 0 .6em !important;
	
		thead th {
			color: #fff !important;
			background-color: #002357 !important;
			text-shadow: none !important;
		}
	
		tfoot td {
			border: none !important;
		}
	
		tbody td {
			background-color: #f2f2f2 !important;
		}
	
		tbody tr:hover td {
			background-color: #ff6a00 !important;
			color: white !important;
			text-shadow: none !important;
			
			a {
				color: white !important;
				
			}
	
		}
	
		tbody td.ssfa-sortname {
			font-size: 1.2em;
			a {
				display: block !important;
				text-align: left !important;
				line-height: 2em !important;
			}
		}
		
	}

}

// if two pbb_module_tramites, "merge them" changing top margin to a negative number

div.ppb_module_tramites + div.ppb_module_tramites {
	margin-top: -60px;
}

body.page-municipio {

	#page_caption {
		&.hasbg{
			background-position-x: center;
			
			h1 {
				font-weight: bold;
			}
		}
		.page_title_wrapper {
			@media screen and (max-width:400px){
				width: auto;
			}
		}
	}

	h2 {
		margin-top: 2em;
	}

	#page_content_wrapper {
		padding: 0.5em;
	}

	.services-list {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 !important;
		padding: 0;
		width: 96%;

		li {
			margin: 1em;
			text-align: center;
			font-size: 1.2em;

			a:hover img {
				opacity: .8;
			}

			img {
				max-height: 156px;
				min-height: 156px;
				object-fit: cover;
				object-position: top;
				border: 1px solid silver;
			}
		}
	}

	table {
		min-width: 80%;
	}
}

#map_puntos_huertas {
	.leaflet-popup-content {
		min-width: 380px;
	}

	.popup-content {
		margin-right: -0.6em;
		display: flex;
		justify-content: space-between;
		padding-top: 1em;

		p {
			line-height:1em;
		}

		.name {
			font-size: 1.7em;
			margin-top: 0;
		}

		dt {
			font-weight: bold;
			margin-top: 1em;
		}

		.avatar {
			width: 200px;
			height: 200px;
			margin: 0.2em 0 0.2em 0.8em;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}

	}
}

.servicios-cards-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.servicio-card {
	width: 25%;
	min-width: 270px;
	margin: .6em;
	.name {
		font-size: 1.1em !important;
		background-color: $deep-blue;
		color: white;
		padding: 0.4em 0.6em !important;
		margin: 0 !important;
		text-align: center !important;
	}

	.details {
		background-color: #f2f2f2;
		padding: 1em;
	}
}