@media print {

.top_bar #searchform,
.content-weather,
body.home .slider_wrapper,
.blog-latest,
.indice_anclas,
.hamburger,
.footer,

{ display: none !important; }

body {
	font-size: 70%;
	margin: 20px;
}
.ppb_wrapper a:link:after { content: " (" attr(href) ") "; }

h1, h2, h3, h4, h5, h6 {
	color: #002855 !important;
}

.page-breadcrumb-wrapper {
	margin: 10px auto
}

.page-breadcrumb .the-modified-date {
	font-size: 14px;
	text-align: left;
}

body.page { 

	.ppb_module_centros-salud ul {

		flex-direction: column;
		
		.centro-salud {
			width: 100%;
			background-color: transparent;
			display: flex;
			
			.featured-image {
				height: 200px;
				
				img {
					max-width: 400px;
				}
			}
		}
	}

}
} // media print
