.top_bar #searchform {
    margin-right: 2em;

	input {
		margin-left: 6px;
		width: 200px;
	}

	label {
	    margin-bottom: 8px;
	}    
}



#page_content_wrapper .search_form_wrapper {
	float: none;
	width: auto;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 4em;
}

#page_content_wrapper .inner .sidebar_content {
	float: none;
	margin: 0 auto;
	width: 1080px !important;

	.searchform .searchform-s {
		width: 76% !important;
	}
}


.wrapper_max_width {
	max-width: 1080px;
	margin: 0 auto;
}


dl.inline-wrapped dt
, dl.inline-wrapped dd {
	display: inline-block;
}
dl.inline-wrapped dt:after{
	content: ":";
}
dl.inline-wrapped dt{
	font-weight: bold;
}





.centered {margin: 0 auto;} 

body.page-ciudad #page_content_wrapper .inner .sidebar_content img {
	max-width: none !important;
}
body.page-ciudad #page_content_wrapper .row { margin-bottom: 6em; clear:both} 


body.page-ciudad .remove-margin-page { 
	margin-left: -4em; margin-right: -4em;  
	
	img { 
		width: 100vw; 
	} 
} 

body.page-ciudad .row-full-border { 
	border-top: 1px solid $deep-blue; 
	border-bottom: 1px solid $deep-blue; 
	padding: 3em 1em; 
	text-align: center;
	
	p { 
		display: inline-block; 
		margin: 0 !important; 
		font-size: 1.6em !important; 
		text-align: center !important; 
		line-height: 1.1em !important;
	}  
} 


body.page-ciudad .getting-here-list {
	margin: 0 auto 2em !important; 
	max-width: 600px; 
	position: relative; 
	list-style-type: none; 
	text-align: center;
	
	&::before {
		content: ""; 
		width: 2px;
		height: 90%; 
		background-color: $orange; 
		position: absolute; 
		left: 50%;
	} 
	
	li {
		margin: 1em 0; 
		font-size: 1.2em; 
		position: relative; 
		padding: 0.8em;  
		background-color: #fff; 
		text-align: center; 
		border: 2px solid $orange; 
		display: inline-block;
	} 
}

body.page-ciudad .imitate-caption {
	font-size: 1.2em !important; 
	font-style: italic; 
	max-width: 800px;  
	margin: 0 auto !important;  
	text-align: center !important;
}


body.page-ciudad .row.with-image { 
	display: flex; 
	align-items: center; 
	
	img {
		margin: 0 0.5em;
	}
	
	.slider img {
		margin: 0;
	}
	
	& > * {
		width: 50%;
	} 
}




body.page-ciudad .slider {
	position: relative; 
	
	div { 
		min-height: 400px; 
		min-width: 400px; 
	}

	img {
		display: block;
		margin: 0 auto;
	}

}


body.page-ciudad .thumbnails  {
	position: relative;
	cursor: pointer;
	margin: 0 1em;
	border-top: 10px solid $orange;
	
	.flex-direction-nav {
		width: 100%;
		height: 30px;
		margin: 0;
		
		a {
			opacity: 0.9;
		}
	}
	
	.slides div {
		overflow: hidden;
		width: 150px !important;
		height: 100px  !important;
		
		}
	.slides img {
		width: 200px !important;
		height: 200px  !important;
	}
	
}






.module_add_shortcode  {
	margin: 0;
	padding: 0 0 50px 0;
	font-size: 18px;
	line-height: 34px;

	.page_content_wrapper {
		max-width: 1080px;
	}

	.section-title {
		margin-top: 0px;
		margin-bottom: 40px;
		padding-bottom: 4px;
		border-bottom: 2px solid $orange;
		text-align: left;
		color: $deep-blue;
		font-size: 48px;
		line-height: 56px;
		font-weight: 900;
	}

	.text {
		margin: 1em 0;
	}
}





form.form-subscribe {
	background-color: $orange;
	color: #fff;
	padding: 1em;
	border-radius: 1em;
	margin: 2em auto;
	max-width: 700px;
   display: block;
	
	legend {
		color: inherit;
		font-weight: 900;
		font-family: $main-font;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 2px;
	}
	
	
	label, 
	.fake-label {
		color: inherit;
		margin-bottom: 0;
		font-weight: bold;
		font-family: $main-font;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 2px;
	}
	
	
	.inline {
		display: flex;
		padding-right: 3em;
	}	
	
	.inline label,
	.inline .fake-label {
		display: inline-block;
		width: 200px;
		margin-right: 1em;
	}
	
	
	input {
		border: 1px solid #939297;
		color: #666666;
		padding: 0.6em 1em;
		font-size: 1.0em;
		margin: 0;
		font-family: $main-font;
		width: 200px;
		border-radius: 5px;
		box-sizing: border-box;
	}
	
	
	input[type="radio"] {
		width: auto;
	}
	input[type="radio"] + label {
		width: auto;
		margin-right: 1em;
		margin: 0 1em;
	}

	input[type="submit"] {
		border: 1px solid #fff;
		background-color: $orange;
		color: #fff;	
		
		&::hover {
			color: #000;
			background: #ffffff !important;
		}
	}

	.row {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		align-items: center;
		margin: 0.5em 0;
	}
	

	.row.center {
		text-align: center;
		margin: 0 auto;
		
		p {
			width: 100%;
		}
	}
	
	
	.small-text {
		font-size: .8em;
		margin: 1em 0;
		font-style: italic;
	}

	
	.row.small-input input {
		width: 200px !important;
	}


	div.wpcf7-response-output {
		 margin-top: 1em !important;
	}

	span.wpcf7-not-valid-tip {
		color: #000;
	}
	span.wpcf7-list-item {
		margin-left: 0;
		display: block;
	}
	div.wpcf7-mail-sent-ok {
		border: 0;
	}
}






.icon::before {
	content: "";
	display: inline-block;
	font-family: 'FontAwesome';
	margin-right: 0.4em;
}
.icon.address::before {
	content: "\f0f8";
}
.icon.phone::before {
	content: "\f095";
}
.icon.hours::before {
	content: "\f017";
}

			
			

.ppb_module_centros-salud {
	ul {
	   list-style-type: none;
		display: flex;
		flex-wrap: wrap;
	}
	
	.centro-salud {
		width: 46%;
		margin: 0 2em 2em 0;
		border-radius: 10px;
		color: $deep-blue;
		font-size: 18px;
		line-height: 34px;
		font-weight: 400;
		text-align: left;
		overflow: hidden;
		background-color: $light-grey;
		
		@media screen and (max-width:$mobile-width) {
			width: 100%;
			display: block;
			margin-right: 0;
		}
		
		
		.featured-image {
			height: 300px;
			overflow: hidden;
			
			@media screen and (max-width:$mobile-width) {
				height: 210px;
			}
		
		
		}		
		
		.info {
			padding: 0.8em 1.5em;
			line-height: 1.5em;
			font-size: 0.9em;
			
			p {
				padding: 0;
				display: block;
				margin: 0.2em 0;
			}
			
			.title {
				font-weight: bold;
			    margin-bottom: 0.7em;
				 margin-left: -0.4em;
			}
			
			.more-info {
				margin-top: 1em;
			}
			
		}

	}
}

body.single-centros_salud {
	
	#page_caption {
		padding-top: 2em;
		background-position: center;
		background-repeat: no-repeat;

	 
		@media screen and (max-width:$mobile-width) {
			position: relative;
			
			.parallax_overlay, .parallax_overlay_header {
				height: 90%;
			}
		}
		
		.title {
			font-weight: bold;
			color: #fff;
			font-size: 3em;
			
			@media screen and (max-width:$mobile-width) {
				width: 100vw;
				font-size: 2em !important;
				position: relative;
			}
		}
	}

	.inner_wrapper {
		@media screen and (max-width:$mobile-width) {
			padding: 6em 1em;
		}
	}	
	
	.centro-details {
		font-size: 1.2em;
		width: 700px;
		margin: 0 auto 3em;

	}
	.centro-details dl {
		
		dt {
			font-weight: bold;
			margin: 1em 0 0;
		
		}
		
		dd {
			margin-left: 2em
		}
	}
	
	.post_wrapper {
	    list-style-position: inside;
		 
		 h4 {
			margin: 1em 0;
		 }
		 
		ul {
			margin: 0 0 1em 0 !important;
		}
		
				
		.cols {
			@media screen and (min-width: $mobile-width){
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;				
			}
			
			.col {
					margin: 3em 2em;
					width: 40%;
				
				@media screen and (max-width: $mobile-width){
					margin: 2em 0.7em;
					width: 100%;
				}
			}
		}
		
	}
}

body.post-type-archive-centros_salud {
	#list-centros_salud {
		ul {
			list-style-type: none;
			
			li {
				position: relative;
				display: flex;
				border-radius: 10px;
				background-color: $light-grey;
				overflow: hidden;
				margin: 2em auto;
				max-width: 900px;
				
				@media screen and (max-width: $mobile-width){
					flex-direction: column;
				}
				
				.featured-image {
					@media screen and (min-width: $mobile-width){
						max-width: 300px;
						margin-right: 2em;
					}
				}
				
				.info {
					padding: 1em;
					
					.title {
						font-weight: bold;
						font-size: 1.2em;
					}
				}
			}
		}
	}
}
