@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800");
table {
  border: 0;
  border-spacing: 0 0.6em;
}
table th {
  color: #fff;
  background-color: #002855;
  padding: 0.8em !important;
}
table td {
  background-color: #f2f2f2;
  border-bottom: 0;
  border-left: 1px solid #f0f0f0;
  border-right: 0;
  border-top: 1px solid #f0f0f0;
  line-height: 14px;
  padding: 10px;
  vertical-align: middle;
}

a {
  transition: color 0.2s linear, background 0.1s linear;
  -moz-transition: color 0.2s linear, background 0.1s linear;
  -webkit-transition: color 0.2s linear, background 0.1s linear;
}

h4 {
  margin-top: 1em;
}

.visually-hide {
  position: absolute !important;
  display: inline-block;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: transparent;
  background: transparent;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.smaller-font {
  font-size: smaller;
}

.rounded-corners {
  border-radius: 10px;
  overflow: hidden;
}
.rounded-corners img {
  border-radius: 10px;
}

.inline-list-comma {
  list-style-type: none;
  display: inline;
  margin: 0 !important;
}
.inline-list-comma li {
  display: inline;
}
.inline-list-comma li + li:before {
  content: ", ";
}

dl.dt-black dt {
  font-weight: bold;
}

.into-columns {
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  column-gap: 2em;
}
.into-columns.has-2-columns {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}

.chameleon-text {
  color: inherit;
  font: inherit;
  padding: 0;
  border: none;
  width: auto;
  margin: 0;
  vertical-align: top;
}

.alignwide {
  margin-left: -80px;
  margin-right: -80px;
}

.alignfull {
  margin-left: calc( -100vw / 2 + 100% / 2 );
  margin-right: calc( -100vw / 2 + 100% / 2 );
  max-width: 100vw;
  width: 99.7vw;
}

.alignfull img {
  width: 100vw;
}

.alignfull .wp-block-column .wp-block-image img {
  width: auto;
}

@media only screen and (max-width: 767px) {
  .wp-block-columns {
    display: block;
  }

  .has-2-columns .wp-block-column,
.has-3-columns .wp-block-column,
.has-4-columns .wp-block-column,
.has-5-columns .wp-block-column,
.has-6-columns .wp-block-column {
    width: 100%;
  }
}
.wp-block-embed-youtube.aligncenter {
  text-align: center;
}

.top_bar #searchform {
  margin-right: 2em;
}
.top_bar #searchform input {
  margin-left: 6px;
  width: 200px;
}
.top_bar #searchform label {
  margin-bottom: 8px;
}

.andimol_clima .anndimol-temp {
  padding-top: 0;
}
.andimol_clima .icon {
  max-width: 76px;
  float: none;
  line-height: 0px;
}
.andimol_clima i[class^=meteocons-] {
  margin-right: 0;
}
.andimol_clima .anndimol-temp {
  width: 212px;
}

.indice_anclas.fixed {
  top: 80px;
}

#page_content_wrapper .search_form_wrapper {
  float: none;
  width: auto;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 4em;
}

#page_content_wrapper .inner .sidebar_content {
  float: none;
  margin: 0 auto;
}
@media screen and (min-width: 1000px) {
  #page_content_wrapper .inner .sidebar_content {
    width: 1080px !important;
  }
}
#page_content_wrapper .inner .sidebar_content .searchform .searchform-s {
  width: 76% !important;
}

.page-breadcrumb ul li {
  max-width: 450px;
  text-align: left;
}

.module_add_shortcode .fake-text-bajada-style .text {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  text-align: left;
  margin: 0 0 40px 0;
  padding: 0px;
}

@media screen and (max-width: 500px) {
  body.home .ppb_wrapper .ppb_gestion_municipal .box {
    width: 150px !important;
    margin: 0.3em !important;
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  body.home .ppb_wrapper .ppb_gestion_municipal .box h3 {
    font-size: 0.9em !important;
  }
  body.home .ppb_wrapper .ppb_gestion_municipal .box .image {
    width: 100%;
    max-width: 100px;
  }
}

.wrapper_max_width {
  max-width: 1080px;
  margin: 0 auto;
}

dl.inline-wrapped dt,
dl.inline-wrapped dd {
  display: inline-block;
}

dl.inline-wrapped dt:after {
  content: ": ";
}

dl.inline-wrapped dt {
  font-weight: bold;
  margin-right: 0.2em;
}

.arrow::before {
  display: inline-block;
  content: "";
  width: 1px;
  height: 1px;
  margin-left: 0.4em;
  vertical-align: middle;
  border-bottom: 4px solid transparent;
  border-right: 4px solid transparent;
}

.arrow.arrow-down::before {
  border-top: 4px solid #000;
  border-left: 4px solid transparent;
  margin-top: 0.2em;
  margin-left: 0.2em;
}

.arrow.arrow-left::before {
  border-top: 4px solid transparent;
  border-left: 4px solid #000;
}

.centered {
  margin: 0 auto;
}

body.page-ciudad #page_content_wrapper .inner .sidebar_content img {
  max-width: none !important;
}

body.page-ciudad #page_content_wrapper .row {
  margin-bottom: 6em;
  clear: both;
}

body.page-ciudad .row-full-border {
  border-top: 1px solid #002855;
  border-bottom: 1px solid #002855;
  padding: 3em 1em;
  text-align: center;
}
body.page-ciudad .row-full-border p {
  display: inline-block;
  margin: 0 !important;
  font-size: 1.6em !important;
  text-align: center !important;
  line-height: 1.1em !important;
}

body.page-ciudad .getting-here-list {
  margin: 0 auto 2em !important;
  max-width: 600px;
  position: relative;
  list-style-type: none;
  text-align: center;
}
body.page-ciudad .getting-here-list::before {
  content: "";
  width: 2px;
  height: 90%;
  background-color: #ff6a00;
  position: absolute;
  left: 50%;
}
body.page-ciudad .getting-here-list li {
  margin: 1em 0;
  font-size: 1.2em;
  position: relative;
  padding: 0.8em;
  background-color: #fff;
  text-align: center;
  border: 2px solid #ff6a00;
  display: inline-block;
}

body.page-ciudad .imitate-caption {
  font-size: 1.2em !important;
  font-style: italic;
  max-width: 800px;
  margin: 0 auto !important;
  text-align: center !important;
}

body.page-ciudad .row.with-image {
  display: flex;
  align-items: center;
}
body.page-ciudad .row.with-image img {
  margin: 0 0.5em;
}
body.page-ciudad .row.with-image .slider img {
  margin: 0;
}
body.page-ciudad .row.with-image > * {
  width: 50%;
}

body.page-ciudad .slider {
  position: relative;
}
body.page-ciudad .slider div {
  min-height: 400px;
  min-width: 400px;
}
body.page-ciudad .slider img {
  display: block;
  margin: 0 auto;
}

body.page-ciudad .thumbnails {
  position: relative;
  cursor: pointer;
  margin: 0 1em;
  border-top: 10px solid #ff6a00;
}
body.page-ciudad .thumbnails .flex-direction-nav {
  width: 100%;
  height: 30px;
  margin: 0;
}
body.page-ciudad .thumbnails .flex-direction-nav a {
  opacity: 0.9;
}
body.page-ciudad .thumbnails .slides div {
  overflow: hidden;
  width: 150px !important;
  height: 100px !important;
}
body.page-ciudad .thumbnails .slides img {
  width: 200px !important;
  height: 200px !important;
}

.module_add_shortcode {
  margin: 0;
  padding: 0 0 50px 0;
  font-size: 18px;
  line-height: 34px;
}
.module_add_shortcode .page_content_wrapper {
  max-width: 1080px;
}
.module_add_shortcode .section-title {
  margin-top: 0px;
  margin-bottom: 40px;
  padding-bottom: 4px;
  border-bottom: 2px solid #ff6a00;
  text-align: left;
  color: #002855;
  font-size: 48px;
  line-height: 56px;
  font-weight: 900;
}
.module_add_shortcode .text {
  margin: 1em 0;
}

form.form-subscribe {
  background-color: #ff6a00;
  color: #fff;
  padding: 1em;
  border-radius: 1em;
  margin: 2em auto;
  max-width: 700px;
  display: block;
}
@media screen and (max-width: 500px) {
  form.form-subscribe {
    margin-top: 1em;
  }
}
form.form-subscribe legend {
  color: inherit;
  font-weight: 900;
  font-family: "Muli", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
}
form.form-subscribe label,
form.form-subscribe .fake-label {
  color: inherit;
  margin-bottom: 0;
  font-weight: bold;
  font-family: "Muli", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
}
form.form-subscribe .inline {
  display: flex;
  padding-right: 3em;
  font-size: 0.9em;
  width: 100%;
}
form.form-subscribe .inline label,
form.form-subscribe .inline .fake-label {
  display: inline-block;
  width: 200px;
  margin-right: 1em;
}
form.form-subscribe input, form.form-subscribe button {
  border: 1px solid #939297;
  color: #666666;
  padding: 0.6em 1em;
  font-size: 1em;
  margin: 0;
  font-family: "Muli", Arial, sans-serif;
  width: 200px;
  border-radius: 5px;
  box-sizing: border-box;
}
form.form-subscribe input[type=radio] {
  width: auto;
}
form.form-subscribe input[type=radio] + label {
  width: auto;
  margin-right: 1em;
  margin: 0 1em;
}
form.form-subscribe [type=submit] {
  border: 1px solid #fff;
  background-color: #ff6a00;
  color: #fff;
  width: auto;
  padding: 1em 1.7em !important;
  text-transform: uppercase;
}
form.form-subscribe [type=submit]:hover {
  color: #000;
  background: #ffffff !important;
}
form.form-subscribe input[type=checkbox] {
  width: auto;
  margin-right: 0.4em;
  vertical-align: text-top;
}
form.form-subscribe .row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.5em 0;
}
form.form-subscribe .row.inline .inline {
  width: 47%;
  padding-right: 1em !important;
}
form.form-subscribe .row.inline .inline input {
  width: 100%;
}
form.form-subscribe .row.center {
  text-align: center;
  margin: 0 auto;
}
form.form-subscribe .row.center p {
  width: 100%;
}
form.form-subscribe .small-text {
  font-size: 0.8em;
  margin: 1em 0;
  font-style: italic;
}
form.form-subscribe .row.small-input input {
  width: 200px !important;
}
form.form-subscribe div.wpcf7-response-output {
  margin-top: 1em !important;
}
form.form-subscribe span.wpcf7-not-valid-tip {
  color: #000;
}
form.form-subscribe span.wpcf7-list-item {
  margin-left: 0;
  display: block;
}
form.form-subscribe div.wpcf7-mail-sent-ok {
  border: 0;
}
form.form-subscribe .wpcf7-form-control-wrap {
  width: 100%;
}
form.form-subscribe div.wpcf7 input[type=file] {
  border: 0;
}

form.form-subscribe-cleaner {
  border: 2px solid #ff6a00;
  padding: 1em;
  border-radius: 1em;
  margin: 2em auto;
  max-width: 700px;
  display: block;
}
@media screen and (max-width: 500px) {
  form.form-subscribe-cleaner {
    margin-top: 1em;
  }
}
form.form-subscribe-cleaner legend {
  color: inherit;
  font-weight: 900;
  font-family: "Muli", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
}
form.form-subscribe-cleaner label,
form.form-subscribe-cleaner .fake-label {
  color: inherit;
  margin-bottom: 0;
  font-weight: bold;
  font-family: "Muli", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
}
form.form-subscribe-cleaner .inline {
  display: flex;
  padding-right: 3em;
  font-size: 0.9em;
  width: 100%;
}
form.form-subscribe-cleaner .inline label,
form.form-subscribe-cleaner .inline .fake-label {
  display: inline-block;
  width: 200px;
  margin-right: 1em;
}
form.form-subscribe-cleaner input, form.form-subscribe-cleaner button {
  border: 1px solid #939297;
  color: #666666;
  padding: 0.6em 1em;
  font-size: 1em;
  margin: 0;
  font-family: "Muli", Arial, sans-serif;
  width: 200px;
  border-radius: 5px;
  box-sizing: border-box;
}
form.form-subscribe-cleaner input[type=radio] {
  width: auto;
}
form.form-subscribe-cleaner input[type=radio] + label {
  width: auto;
  margin-right: 1em;
  margin: 0 1em;
}
form.form-subscribe-cleaner [type=submit] {
  border: 1px solid #fff;
  background-color: #ff6a00;
  color: #fff;
  width: auto;
  padding: 1em 1.7em !important;
  text-transform: uppercase;
}
form.form-subscribe-cleaner [type=submit]:hover {
  color: #000;
  background: #ffffff !important;
}
form.form-subscribe-cleaner input[type=checkbox] {
  width: auto;
  margin-right: 0.4em;
  vertical-align: text-top;
}
form.form-subscribe-cleaner .row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  margin: 0.5em 0;
}
form.form-subscribe-cleaner .row.inline .inline {
  width: 47%;
  padding-right: 1em !important;
}
form.form-subscribe-cleaner .row.inline .inline input {
  width: 100%;
}
form.form-subscribe-cleaner .row.center {
  text-align: center;
  margin: 0 auto;
}
form.form-subscribe-cleaner .row.center p {
  width: 100%;
}
form.form-subscribe-cleaner .small-text {
  font-size: 0.8em;
  margin: 1em 0;
  font-style: italic;
}
form.form-subscribe-cleaner .row.small-input input {
  width: 200px !important;
}
form.form-subscribe-cleaner div.wpcf7-response-output {
  margin-top: 1em !important;
}
form.form-subscribe-cleaner span.wpcf7-not-valid-tip {
  color: #000;
}
form.form-subscribe-cleaner span.wpcf7-list-item {
  margin-left: 0;
  display: block;
}
form.form-subscribe-cleaner div.wpcf7-mail-sent-ok {
  border: 0;
}
form.form-subscribe-cleaner .wpcf7-form-control-wrap {
  width: 100%;
}
form.form-subscribe-cleaner div.wpcf7 input[type=file] {
  border: 0;
}

body.page-medioambiente #wpcf7-f3292-p508-o1, body.page-medioambiente #wpcf7-f3176-o1 {
  width: 400px;
}
body.page-medioambiente #wpcf7-f3292-p508-o1 p, body.page-medioambiente #wpcf7-f3292-p508-o1 .wpcf7-number, body.page-medioambiente #wpcf7-f3176-o1 p, body.page-medioambiente #wpcf7-f3176-o1 .wpcf7-number {
  width: 100%;
}

.icon::before {
  content: "";
  display: inline-block;
  font-family: "FontAwesome";
  margin-right: 0.4em;
}

.icon.address::before {
  content: "";
}

.icon.phone::before {
  content: "";
}

.icon.hours::before {
  content: "";
}

.ppb_module_centros-salud ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.ppb_module_centros-salud .centro-salud {
  width: 46%;
  margin: 0 2em 2em 0;
  border-radius: 10px;
  color: #002855;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  text-align: left;
  overflow: hidden;
  background-color: #f0f0f0;
}
@media screen and (max-width: 500px) {
  .ppb_module_centros-salud .centro-salud {
    width: 100%;
    display: block;
    margin-right: 0;
  }
}
.ppb_module_centros-salud .centro-salud .featured-image {
  height: 300px;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  .ppb_module_centros-salud .centro-salud .featured-image {
    height: 210px;
  }
}
.ppb_module_centros-salud .centro-salud .info {
  padding: 0.8em 1.5em;
  line-height: 1.5em;
  font-size: 0.9em;
}
.ppb_module_centros-salud .centro-salud .info p {
  padding: 0;
  display: block;
  margin: 0.2em 0;
}
.ppb_module_centros-salud .centro-salud .info .title {
  font-weight: bold;
  margin-bottom: 0.7em;
  margin-left: -0.4em;
}
.ppb_module_centros-salud .centro-salud .info .more-info {
  margin-top: 1em;
}

body.single-centros_salud #page_caption {
  padding-top: 2em;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 500px) {
  body.single-centros_salud #page_caption {
    position: relative;
  }
  body.single-centros_salud #page_caption .parallax_overlay, body.single-centros_salud #page_caption .parallax_overlay_header {
    height: 90%;
  }
}
body.single-centros_salud #page_caption .title {
  font-weight: bold;
  color: #fff;
  font-size: 3em;
}
@media screen and (max-width: 500px) {
  body.single-centros_salud #page_caption .title {
    width: 100vw;
    font-size: 2em !important;
    position: relative;
  }
}
@media screen and (max-width: 500px) {
  body.single-centros_salud .inner_wrapper {
    padding: 6em 1em;
  }
}
body.single-centros_salud .centro-details {
  font-size: 1.2em;
  width: 700px;
  margin: 0 auto 3em;
}
body.single-centros_salud .centro-details dl dt {
  font-weight: bold;
  margin: 1em 0 0;
}
body.single-centros_salud .centro-details dl dd {
  margin-left: 2em;
}
body.single-centros_salud .post_wrapper {
  list-style-position: inside;
}
body.single-centros_salud .post_wrapper h4 {
  margin: 1em 0;
}
body.single-centros_salud .post_wrapper ul {
  margin: 0 0 1em 0 !important;
}
@media screen and (min-width: 500px) {
  body.single-centros_salud .post_wrapper .cols {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
body.single-centros_salud .post_wrapper .cols .col {
  margin: 3em 2em;
  width: 40%;
}
@media screen and (max-width: 500px) {
  body.single-centros_salud .post_wrapper .cols .col {
    margin: 2em 0.7em;
    width: 100%;
  }
}

body.post-type-archive-centros_salud #list-centros_salud ul {
  list-style-type: none;
}
body.post-type-archive-centros_salud #list-centros_salud ul li {
  position: relative;
  display: flex;
  border-radius: 10px;
  background-color: #f0f0f0;
  overflow: hidden;
  margin: 2em auto;
  max-width: 900px;
}
@media screen and (max-width: 500px) {
  body.post-type-archive-centros_salud #list-centros_salud ul li {
    flex-direction: column;
  }
}
@media screen and (min-width: 500px) {
  body.post-type-archive-centros_salud #list-centros_salud ul li .featured-image {
    min-width: 300px;
    width: 300px;
    margin-right: 2em;
  }
  body.post-type-archive-centros_salud #list-centros_salud ul li .featured-image img {
    min-height: 225px;
  }
}
body.post-type-archive-centros_salud #list-centros_salud ul li .info {
  padding: 1em;
}
body.post-type-archive-centros_salud #list-centros_salud ul li .info .title {
  font-weight: bold;
  font-size: 1.2em;
}

.people-list-wrapper ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.people-list-wrapper .wp-block-gallery .blocks-gallery-item figure {
  flex-direction: column;
  align-self: center;
}
.people-list-wrapper li {
  margin: 2em 1em 3em;
  text-align: center;
  width: 300px;
}
.people-list-wrapper li a {
  color: #002855;
}
.people-list-wrapper li .image {
  border-radius: 300px;
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: 0 auto 0.7em;
}
.people-list-wrapper li .image img {
  margin: 0 auto;
  height: 100%;
  width: 150px;
  object-fit: cover;
}
.people-list-wrapper li .title {
  font-weight: bold;
  font-size: 1.1em;
  color: #002855;
}
.people-list-wrapper .wp-block-gallery .blocks-gallery-item figure .title {
  background: transparent;
  position: relative;
  padding-top: 0;
  line-height: 1.3em;
}

.people-list-wrapper.avatar-as-circle .image {
  border-radius: 300px;
}

.people-list-wrapper.avatar-as-square li {
  margin: 2em 0em;
  width: 270px;
}
.people-list-wrapper.avatar-as-square li a {
  display: inline-block;
  position: relative;
}
.people-list-wrapper.avatar-as-square li a:hover img {
  opacity: 0.6;
}
.people-list-wrapper.avatar-as-square .image {
  width: 200px;
  height: 200px;
  padding: 0;
  margin: 0;
  border-radius: 0px;
}
.people-list-wrapper.avatar-as-square .image img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
.people-list-wrapper.avatar-as-square .title {
  display: block;
  text-align: center;
  max-width: 200px;
  font-weight: normal;
  font-size: 1.1em;
  line-height: 1.5em;
}
.people-list-wrapper.avatar-as-square .wp-block-gallery.columns-2 .blocks-gallery-item figure {
  align-self: center;
}

#page_content_wrapper .inner .sidebar_content .people-list-wrapper.avatar-as-square .image img {
  height: 100% !important;
}

.people-list-wrapper.avatar-as-square.rounded-corners .image {
  border-radius: 20px;
}

.nnice-cta {
  background-color: #ff6a00;
  border-radius: 10px;
}
.nnice-cta .row > .col {
  display: flex;
}
.nnice-cta .box-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px 0 0 10px;
}
.nnice-cta .text {
  width: 50%;
  border-radius: 0 10px 10px 0;
}
.nnice-cta .button-cta {
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 0px;
  padding: 11px 25px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #ff6a00;
  font-family: Muli, sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 17px;
}
.nnice-cta.vertical-cta {
  margin: 0 auto;
  background-color: transparent;
}
.nnice-cta.vertical-cta .row > .col {
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 700px;
  width: 70%;
}
@media screen and (max-width: 500px) {
  .nnice-cta.vertical-cta .row > .col {
    width: 100%;
  }
}
.nnice-cta.vertical-cta .box-image, .nnice-cta.vertical-cta .box-cta {
  width: 100%;
}
.nnice-cta.vertical-cta .box-image {
  border-radius: 10px 10px 0 0;
  height: 250px;
  /* hardcoded for salud > asperger */
}
@media screen and (max-width: 500px) {
  .nnice-cta.vertical-cta .box-image {
    height: 150px;
    /* hardcoded for salud > asperger */
  }
}
.nnice-cta.vertical-cta .box-cta {
  background-image: none;
  padding-bottom: 1em;
  border-radius: 0 0 10px 10px;
  text-align: center;
  word-break: break-word;
}
.nnice-cta.nnice-cta-form {
  border-radius: 1em;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  .nnice-cta.nnice-cta-form {
    margin-top: 1em;
  }
}
.nnice-cta.nnice-cta-form .text {
  margin: 0;
}
@media screen and (max-width: 500px) {
  .nnice-cta.nnice-cta-form .text {
    width: auto;
  }
}
.nnice-cta.nnice-cta-form .content {
  background-color: transparent;
  color: #fff;
}
.nnice-cta.nnice-cta-form .box-image {
  background-position: center top;
  background-size: cover;
  min-height: 300px;
  height: 100%;
}
@media screen and (max-width: 500px) {
  .nnice-cta.nnice-cta-form .box-image {
    display: none;
  }
}
.nnice-cta.nnice-cta-form form.form-subscribe {
  border-radius: 0 1em 1em 0;
  color: #fff;
  max-width: 540px;
  margin: 0;
}
@media screen and (max-width: 500px) {
  .nnice-cta.nnice-cta-form form.form-subscribe {
    max-width: 300px;
    padding: 0.4em;
  }
}
.nnice-cta.nnice-cta-form form.form-subscribe h3 {
  color: inherit !important;
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.6em;
}
.nnice-cta.nnice-cta-form form.form-subscribe .row.inline {
  justify-content: space-between;
}
.nnice-cta.nnice-cta-form form.form-subscribe .row > .inline {
  padding-right: 1em;
  width: 100%;
}
.nnice-cta.nnice-cta-form form.form-subscribe .row.inline .inline {
  width: 47% !important;
}
@media screen and (max-width: 500px) {
  .nnice-cta.nnice-cta-form form.form-subscribe .row.inline .inline {
    width: 100% !important;
    margin: 0.2em 0;
  }
}
.nnice-cta.nnice-cta-form form.form-subscribe .submit-wrapper {
  text-align: center;
  margin-top: 2em;
}
@media screen and (max-width: 500px) {
  .nnice-cta.nnice-cta-form .mauticform-row {
    width: 100%;
  }
}

.agenda-congreso-educacion-wrapper .day {
  font-size: 1.7em;
}
.agenda-congreso-educacion-wrapper .time {
  margin: 1em 0;
  font-size: 1.1em;
  color: #000;
  font-weight: bold;
  padding: 0 !important;
}
.agenda-congreso-educacion-wrapper .congreso-educacion-accordion .time {
  color: #ff6a00;
}
.agenda-congreso-educacion-wrapper .congreso-educacion-accordion .time .arrow.arrow-down::before {
  border-top-color: #ff6a00;
}
.agenda-congreso-educacion-wrapper .congreso-educacion-accordion .time .arrow.arrow-left::before {
  border-left-color: #ff6a00;
}
.agenda-congreso-educacion-wrapper .congreso-educacion-accordion .time:hover {
  color: #000;
}
.agenda-congreso-educacion-wrapper .congreso-educacion-accordion .time:hover .arrow.arrow-down::before {
  border-top-color: #000;
}
.agenda-congreso-educacion-wrapper .congreso-educacion-accordion .time:hover .arrow.arrow-left::before {
  border-left-color: #000;
}
.agenda-congreso-educacion-wrapper .congreso-educacion-accordion .mesas-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
}
.agenda-congreso-educacion-wrapper .congreso-educacion-accordion .mesas-container .mesa {
  width: 208px;
  margin: 0 4px;
}
@media screen and (max-width: 500px) {
  .agenda-congreso-educacion-wrapper .congreso-educacion-accordion .mesas-container .mesa {
    width: 100%;
  }
}
.agenda-congreso-educacion-wrapper .congreso-educacion-accordion .mesas-container .mesa p {
  padding-bottom: 0.9em;
}
.agenda-congreso-educacion-wrapper .congreso-educacion-accordion .mesas-container .mesa .place {
  font-weight: bold;
  font-size: 1.2em;
  min-height: 60px;
  border-bottom: 1px solid #ff6a00;
  text-align: center;
  line-height: 1.3em;
  margin-bottom: 1em;
  padding-bottom: 0;
  margin-top: 2em;
}
@media screen and (max-width: 500px) {
  .agenda-congreso-educacion-wrapper .congreso-educacion-accordion .mesas-container .mesa .place {
    min-height: 40px;
  }
}
.agenda-congreso-educacion-wrapper .congreso-educacion-accordion .mesas-container .mesa .title {
  font-style: italic;
}

.videos-thumbnails-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.videos-thumbnails-list video {
  width: 80%;
  height: auto;
  min-width: 300px;
}
.videos-thumbnails-list .item {
  max-width: 300px;
  margin: 0.8em;
  position: relative;
}
.videos-thumbnails-list .item:hover {
  opacity: 0.7;
}
.videos-thumbnails-list .item::after {
  content: "";
  background: url(../js/mediaelement/bigplay.png) top center no-repeat;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 40px;
}

body.page-espacio-tecnologico fieldset.expand-sub-items {
  margin: 1em 0;
}
body.page-espacio-tecnologico fieldset.expand-sub-items legend {
  border-bottom: 1px solid;
  height: 30px;
}
body.page-espacio-tecnologico fieldset.expand-sub-items legend .arrow.arrow-down::before {
  border-top-color: #fff;
}
body.page-espacio-tecnologico fieldset.expand-sub-items legend .arrow.arrow-left::before {
  border-left-color: #fff;
}
body.page-espacio-tecnologico fieldset.expand-sub-items > p {
  margin-left: 1em;
}
body.page-espacio-tecnologico .form-edlt-info-wrapper .box-image {
  background-size: auto 1800px !important;
}
body.page-espacio-tecnologico .form-edlt-info-wrapper #mauticform_edltinformacioncursos #mauticform_edltinformacioncursos_nombre,
body.page-espacio-tecnologico .form-edlt-info-wrapper #mauticform_edltinformacioncursos #mauticform_edltinformacioncursos_apellido {
  width: 100%;
}

.box_pic-text-caption-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 500px) {
  .box_pic-text-caption-wrapper {
    flex-direction: column;
    align-content: center;
  }
}

.box_pic-text-caption {
  border-radius: 10px;
  width: 47%;
  float: left;
  overflow: hidden;
  min-width: 500px;
  margin: 1.4em 0;
}
@media screen and (max-width: 500px) {
  .box_pic-text-caption {
    width: 100%;
    min-width: 320px;
  }
}
.box_pic-text-caption .image {
  background-size: cover;
  height: 228px;
  width: 100%;
}
.box_pic-text-caption .text {
  color: #fff !important;
  background-color: #ff6a00 !important;
  font-weight: bold !important;
  font-size: 2.3em !important;
  padding: 1em !important;
  margin: 0px !important;
  line-height: 1.2em !important;
  height: 100%;
}
@media screen and (max-width: 500px) {
  .box_pic-text-caption .text {
    font-size: 1.6em !important;
  }
}

.tablepress tfoot th, .tablepress thead th {
  background-color: #e7e7e7 !important;
  border-bottom: 0 !important;
}

.tablepress .sorting:hover, .tablepress .sorting_asc, .tablepress .sorting_desc {
  background-color: #6a6a6a !important;
  color: white;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after {
  content: " " !important;
}

.tablepress td, .tablepress th {
  padding: 8px 10px !important;
}

.tablepress tbody td, .tablepress tfoot th {
  border-top: 1px solid #ddd;
}

#tabla-yacare-calles {
  font-size: 0.9em;
}

#tabla-yacare-calles_info {
  font-size: 0.7em;
  margin-bottom: 3em;
}

#map_puntos_carga .leaflet-top {
  z-index: 500;
}

#map_puntos_carga .leaflet-popup-content p {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

#map_puntos_carga .leaflet-popup-content dt,
#map_puntos_carga .leaflet-popup-content dd {
  display: inline-block;
  margin: 0;
}

#map_puntos_carga .leaflet-popup-content dt {
  font-weight: bold;
}

#map_puntos_carga .leaflet-popup-content dd {
  margin-left: 0.3em;
}

.big-buttons-icons-wrapper {
  text-align: center;
  display: flex;
  align-items: end;
  justify-content: center;
}
.big-buttons-icons-wrapper .btn {
  width: 240px;
  margin: 0.5em 2em;
  background-color: #e7e7e7;
  border-radius: 10px;
  padding: 0.8em;
  text-align: center;
  color: #002855;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.big-buttons-icons-wrapper .btn img {
  max-width: 120px !important;
  margin: 0 auto;
}
.big-buttons-icons-wrapper .btn .label {
  margin: 0.9em 0 0 !important;
  text-align: center !important;
  font-size: 0.6em !important;
  font-weight: bold !important;
}

.mrg-downloads-table-formularios .ssfa-crumbs {
  font-size: 0.6em;
  background-color: transparent;
  padding: 0 !important;
}
.mrg-downloads-table-formularios table {
  border-spacing: 0 0.6em !important;
}
.mrg-downloads-table-formularios table thead th {
  color: #fff !important;
  background-color: #002357 !important;
  text-shadow: none !important;
}
.mrg-downloads-table-formularios table tfoot td {
  border: none !important;
}
.mrg-downloads-table-formularios table tbody td {
  background-color: #f2f2f2 !important;
}
.mrg-downloads-table-formularios table tbody tr:hover td {
  background-color: #ff6a00 !important;
  color: white !important;
  text-shadow: none !important;
}
.mrg-downloads-table-formularios table tbody tr:hover td a {
  color: white !important;
}
.mrg-downloads-table-formularios table tbody td.ssfa-sortname {
  font-size: 1.2em;
}
.mrg-downloads-table-formularios table tbody td.ssfa-sortname a {
  display: block !important;
  text-align: left !important;
  line-height: 2em !important;
}

div.ppb_module_tramites + div.ppb_module_tramites {
  margin-top: -60px;
}

body.page-municipio #page_caption.hasbg {
  background-position-x: center;
}
body.page-municipio #page_caption.hasbg h1 {
  font-weight: bold;
}
@media screen and (max-width: 400px) {
  body.page-municipio #page_caption .page_title_wrapper {
    width: auto;
  }
}
body.page-municipio h2 {
  margin-top: 2em;
}
body.page-municipio #page_content_wrapper {
  padding: 0.5em;
}
body.page-municipio .services-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 !important;
  padding: 0;
  width: 96%;
}
body.page-municipio .services-list li {
  margin: 1em;
  text-align: center;
  font-size: 1.2em;
}
body.page-municipio .services-list li a:hover img {
  opacity: 0.8;
}
body.page-municipio .services-list li img {
  max-height: 156px;
  min-height: 156px;
  object-fit: cover;
  object-position: top;
  border: 1px solid silver;
}
body.page-municipio table {
  min-width: 80%;
}

#map_puntos_huertas .leaflet-popup-content {
  min-width: 380px;
}
#map_puntos_huertas .popup-content {
  margin-right: -0.6em;
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}
#map_puntos_huertas .popup-content p {
  line-height: 1em;
}
#map_puntos_huertas .popup-content .name {
  font-size: 1.7em;
  margin-top: 0;
}
#map_puntos_huertas .popup-content dt {
  font-weight: bold;
  margin-top: 1em;
}
#map_puntos_huertas .popup-content .avatar {
  width: 200px;
  height: 200px;
  margin: 0.2em 0 0.2em 0.8em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.servicios-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.servicio-card {
  width: 25%;
  min-width: 270px;
  margin: 0.6em;
}
.servicio-card .name {
  font-size: 1.1em !important;
  background-color: #002855;
  color: white;
  padding: 0.4em 0.6em !important;
  margin: 0 !important;
  text-align: center !important;
}
.servicio-card .details {
  background-color: #f2f2f2;
  padding: 1em;
}

.effect-enlarge-shadow:hover {
  -webkit-transform: scale(1.015);
  -ms-transform: scale(1.015);
  transform: scale(1.015);
  -webkit-box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.mini-posts-container .row {
  display: flex;
  margin: 1em 0;
  flex-wrap: wrap;
}
@media screen and (max-width: 600px) {
  .mini-posts-container .row {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}
.mini-posts-container .column {
  width: 32%;
  display: flex;
}
@media screen and (max-width: 600px) {
  .mini-posts-container .column {
    width: 100%;
  }
}

.mini-article {
  background-color: #f0f0f0;
  overflow: hidden;
  margin: 0.5em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .mini-article {
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
  }
}
.mini-article a {
  color: #002855;
}
.mini-article .title {
  order: 2;
  font-size: 1.6em;
  margin-top: 1.3em;
  padding: 0 0.7em;
  border: 0;
  margin-top: 0.8em;
  font-weight: 700;
  font-family: "Muli", Arial, sans-serif;
}
.mini-article .image {
  order: 1;
  height: 240px;
  width: 100%;
  min-width: 400px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
  .mini-article .image {
    background-position: left top;
  }
}
.mini-article .category {
  order: 3;
  padding: 0 0.7em;
  padding: 1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  .mini-article .category {
    font-size: 0.9em !important;
  }
}

.mini-posts-container .column-bigger .bigger {
  width: 64%;
}
@media screen and (max-width: 600px) {
  .mini-posts-container .column-bigger .bigger {
    width: 100%;
  }
}
.mini-posts-container .column-bigger .mini-article .title {
  margin-top: 0.4em;
}
.mini-posts-container .column-bigger .mini-article .image {
  min-height: 440px;
  height: 70%;
}
@media screen and (max-width: 600px) {
  .mini-posts-container .column-bigger .mini-article .image {
    min-height: 240px;
  }
}

@media screen and (max-width: 600px) {
  .mini-posts-container .column {
    width: 100% !important;
  }
}

.blog-latest {
  margin: 0 auto;
  padding-top: 2em;
}

.blog-latest > .title {
  margin: 1em;
  padding-top: 0px;
  color: #ff6a00;
  text-align: center;
  font-family: Muli, sans-serif;
  font-weight: 900;
  font-size: 3em;
}
@media screen and (max-width: 600px) {
  .blog-latest > .title {
    margin: 0.5em;
    font-size: 2.3em !important;
    line-height: 1.3em !important;
  }
}

.blog-latest .button-blog {
  display: inline-block;
  margin: 3em auto;
  transition: 0.4s;
}

.blog-latest .button-blog:hover {
  transform: rotate(-20deg);
}

.page-template {
  font-size: 18px;
  font-family: "Muli", Arial, sans-serif;
}
.page-template .has-medium-font-size {
  font-size: 1.5em;
  line-height: 1.3em;
}
.page-template h3 {
  margin-top: 2em;
  margin-bottom: 1em;
  padding-bottom: 4px;
  border-bottom: 2px solid #ff6a00;
  color: #002855;
  font-size: 3em;
  font-weight: 900;
}
.page-template p {
  padding: 0.5em;
}

@media screen and (max-width: 700px) {
  h1, h2, h3 {
    text-align: center;
  }

  .blog-latest h1, .blog-latest h2, .blog-latest h3 {
    text-align: left;
  }
}
#page_content_wrapper .inner .sidebar_content .wp-block-gallery {
  margin: 2em;
}
#page_content_wrapper .inner .sidebar_content .wp-block-gallery.is-cropped img {
  height: inherit !important;
}

.page-template-page_mrg_simple_fullwidth .inner .sidebar_content {
  font-size: 18px;
}

.mrg-block-header {
  width: 100%;
}
.mrg-block-header h2 {
  font-weight: 900;
  color: #ff6a00;
  font-size: 4.4em;
  line-height: 1em;
  margin-bottom: 0.6em;
}
.mrg-block-header .contact-title {
  margin-top: 0px !important;
  color: #ff6a00 !important;
  font-weight: 700 !important;
  margin-bottom: 10px !important;
  font-size: 1.7em !important;
  line-height: 34px !important;
}
.mrg-block-header .contact-list {
  list-style-type: none;
  font-size: 1.3em;
}
.mrg-block-header .contact-list dd {
  margin: 0.7em 0;
}
.mrg-block-header .contact-list [class^=icon-]::before {
  display: inline-block;
  content: "";
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 0.6em;
  background-position-x: 4px;
}
.mrg-block-header .contact-list .icon-phone::before {
  background-image: url(../images/iconos/celular.svg);
}
.mrg-block-header .contact-list .icon-time::before {
  background-image: url(../images/iconos/horario.svg);
}
.mrg-block-header .contact-list .icon-address::before {
  background-image: url(../images/iconos/globa.svg);
}
.mrg-block-header .contact-list .icon-email::before {
  background-image: url(../images/iconos/email.svg);
  background-position-x: 0;
}
.mrg-block-header .contact-list .icon-social-facebook::before {
  background-image: url(../images/iconos/facebook.svg);
  background-position-x: 0;
}
.mrg-block-header .contact-list .icon-social-instagram::before {
  background-image: url(../images/iconos/instagram.svg);
  background-position-x: 0;
}
.mrg-block-header .wp-block-column:first-child {
  min-width: 64%;
}
.mrg-block-header .wp-block-column:first-child p {
  font-size: 28px;
  line-height: 36px;
}

#page_content_wrapper .indice_anclas {
  left: 0;
}

#page_content_wrapper ol.mrg-toc {
  margin: 15px auto !important;
}
#page_content_wrapper ol.mrg-toc.indice_anclas.fixed {
  top: 100px;
  padding: 0.4em 0;
}

.mrg-toc {
  list-style-type: none;
  padding-top: 15px;
  border-top: 2px solid rgba(143, 143, 143, 0.5);
  max-width: 1080px;
}
.mrg-toc li {
  display: inline-block;
  margin-right: 1em;
  color: #ff6a00;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}

.cta .btn, .cta .wp-block-button__link, .mrg-cta .btn, .mrg-cta .wp-block-button__link {
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 0px;
  padding: 11px 25px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-color: #ff6a00;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 17px;
}
.cta .btn:hover, .cta .wp-block-button__link:hover, .mrg-cta .btn:hover, .mrg-cta .wp-block-button__link:hover {
  background-color: #fff;
  color: #000;
}

.mrg-cta {
  border-radius: 10px;
  overflow: hidden;
  font-family: "Muli", Arial, sans-serif;
  display: flex;
  flex-basis: 0;
  margin: 3em 0;
}
.mrg-cta .has-large-font-size, .mrg-cta .has-medium-font-size {
  padding-left: 0;
}
.mrg-cta .has-medium-font-size {
  font-size: 1.7em;
  padding-left: 0;
}
@media screen and (max-width: 700px) {
  .mrg-cta {
    flex-direction: column;
    height: auto !important;
  }
}

.cta.background-image {
  border-radius: 0;
}
@media screen and (min-width: 800px) {
  .cta.background-image .wp-block-cover__inner-container {
    max-width: 70%;
  }
}

.mrg-cta-vertical {
  flex-direction: column;
  margin: 0;
}
.mrg-cta-vertical .wp-block-media-text__media {
  width: 100% !important;
}

#page_content_wrapper .inner .sidebar_content .mrg-cta img {
  height: 100% !important;
}

.mrg-cta.cta-image .wp-block-media-text__media {
  position: relative;
  overflow: hidden;
}
.mrg-cta.cta-image .wp-block-media-text__media img {
  position: absolute;
  object-fit: cover;
}
@media screen and (min-width: 800px) {
  .mrg-cta.cta-image .wp-block-media-text__media {
    min-height: 300px;
    width: 70%;
    min-width: 400px;
  }
  .mrg-cta.cta-image .wp-block-media-text__media img {
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 700px) {
  .mrg-cta.cta-image .wp-block-media-text__media {
    height: 260px;
  }
  .mrg-cta.cta-image .wp-block-media-text__media img {
    vertical-align: top;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.cta .donuth {
  width: 80%;
  height: 200px;
}

.background-grey {
  background-color: #e2e2e2;
}

.background-orange {
  background-color: #ff6a00;
  color: #fff;
}

.cta-graph-img .wp-block-column.image {
  margin: 0;
  flex-basis: 80%;
}
.cta-graph-img .wp-block-column.image figure, .cta-graph-img .wp-block-column.image image {
  margin: 0;
}
.cta-graph-img .wp-block-column.graph {
  max-width: 200px;
  text-align: center;
  margin: 0;
}
.cta-graph-img .wp-block-column.graph .donuth {
  height: 200px;
}
.cta-graph-img .wp-block-column.graph .progress-text {
  color: #ff6a00;
  font-size: 1.2em;
  line-height: 1.2em;
  font-weight: 900;
}
.cta-graph-img .wp-block-column.graph #ss_donuth_chart svg {
  position: relative;
}
@media screen and (max-width: 700px) {
  .cta-graph-img {
    flex-direction: column;
    height: auto;
  }
  .cta-graph-img .wp-block-column.graph {
    margin-left: auto;
    margin-right: auto;
  }
}

.page-agua .cta-graph-img {
  height: 260px;
}

@media screen and (max-width: 700px) {
  .cta.cta-image.is-stacked-on-mobile p, .cta.cta-image.is-stacked-on-mobile .wp-block-button {
    padding-left: 3em;
  }
}

.wp-block-gallery.rounded-corners img {
  border-radius: 10px;
}
.wp-block-gallery.rounded-corners.is-cropped img {
  height: inherit;
}
@media screen and (max-width: 700px) {
  .wp-block-gallery.rounded-corners {
    margin-left: 0 !important;
  }
}

.mrg-block-number-wrapper {
  color: #002855;
  text-align: center;
  display: flex;
}
.mrg-block-number-wrapper .wp-block-column {
  margin: 0.6em;
  background-color: #e2e2e2;
  border-radius: 10px;
}
.mrg-block-number-wrapper .mrg-block-number {
  padding: 0.5em 1em 1em !important;
  height: 100%;
}
.mrg-block-number-wrapper .mrg-block-number .number {
  border-radius: 2em;
  background-color: #ff6a00;
  color: #fff;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 900;
  height: 1.6em;
  width: 1.6em;
  margin: 0.6em auto;
  display: block;
  text-align: center;
}

.mrg-section-boxes .wp-block-column {
  margin-left: 0 !important;
}
.mrg-section-boxes .mrg-block-column-spaces-vertical {
  margin: 1em 1em;
  max-width: 540px;
  height: 100%;
}
.mrg-section-boxes .mrg-block-column-spaces-vertical p {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.mrg-section-boxes .mrg-block-column-spaces-vertical .title {
  font-weight: bold;
  padding: 0 !important;
  font-size: 1.2em;
}
.mrg-section-boxes .mrg-block-column-spaces-vertical .text {
  padding: 1em 1em 0em 1.6em;
}
.mrg-section-boxes .mrg-block-column-spaces-vertical.with-heading {
  margin: 0.5em;
}
.mrg-section-boxes .mrg-block-column-spaces-vertical.with-heading .heading {
  margin-bottom: 0px;
  padding: 9px 0;
  background-color: #ff6a00;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-align: center;
}
.mrg-section-boxes .mrg-block-column-spaces-vertical.with-heading .inline-wrapped dd {
  display: inline;
}
.mrg-section-boxes .mrg-block-column-spaces-vertical.with-heading.with-heading-image .image {
  max-height: 300px;
  overflow: hidden;
}

.mrg-section-grey-boxes-links a {
  color: #002855;
}
.mrg-section-grey-boxes-links .box {
  background-color: #e7e7e7;
  border-radius: 10px;
  margin: 1em;
  text-align: center;
  padding: 1em;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.mrg-section-grey-boxes-links .box img {
  max-width: 110px !important;
  margin: 0 auto;
}
.mrg-section-grey-boxes-links .box .title {
  margin-bottom: 0 !important;
  margin-top: 0.4em !important;
}
.mrg-section-grey-boxes-links .wp-block-column:not(:first-child) {
  margin-left: 0px;
}
.mrg-section-grey-boxes-links a:hover .box {
  background-color: #ff6a00;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.58);
}
.mrg-section-grey-boxes-links.section-no-spaces .box {
  margin: 0;
}
.mrg-section-grey-boxes-links.section-featured .box {
  border-radius: 0;
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 160px;
  align-content: center;
}
.mrg-section-grey-boxes-links.section-featured .box .title {
  font-size: 1.2em;
}

.mrg-section-blue-alt-boxes-links.section-no-spaces .box {
  background-color: #002f64;
  height: 290px;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  padding: 2em;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.mrg-section-blue-alt-boxes-links.section-no-spaces .box p {
  padding-left: 0;
}
.mrg-section-blue-alt-boxes-links.section-no-spaces .box img {
  max-width: 80px !important;
}
.mrg-section-blue-alt-boxes-links.section-no-spaces .box .title {
  margin-top: 0.6em;
  margin-bottom: 0.2em;
  font-weight: 700;
  text-decoration: none;
  text-align: left;
  font-size: 1.6em;
  line-height: 1.6em;
}
.mrg-section-blue-alt-boxes-links.section-no-spaces .wp-block-column:not(:first-child) {
  margin-left: 0;
}
.mrg-section-blue-alt-boxes-links.section-no-spaces .wp-block-column:nth-child(2n) .box {
  background-color: #135cad;
}
.mrg-section-blue-alt-boxes-links.section-no-spaces .box:hover, .mrg-section-blue-alt-boxes-links.section-no-spaces .wp-block-column:nth-child(2n) .box:hover {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.58);
  transition: transform 200ms ease 0s;
  transform: translateX(0px) translateY(-13px);
  background-color: #ff6a00;
}

.page-template-page_home_fullwidth h2 {
  color: #ff6a00;
  margin-top: 2.5em;
  margin-bottom: 1.6em;
  padding-top: 0;
  text-align: center;
  font-size: 2.7em;
  font-weight: 900;
  line-height: 1em;
}

.page-template-page_home_fullwidth .ppb_header_gallery {
  margin-left: calc( -100vw / 2 + 100% / 2 );
  margin-right: calc( -100vw / 2 + 100% / 2 );
  max-width: 100vw;
  width: 99.7vw;
}

.mrg-alert-notice {
  padding: 2em 1em !important;
  background-color: #135cad;
  text-align: center;
  color: #fff;
  margin-left: calc( -100vw / 2 + 100% / 2 );
  margin-right: calc( -100vw / 2 + 100% / 2 );
  max-width: 100vw;
  width: 99.7vw;
}
.mrg-alert-notice.icon-bell::before {
  content: "";
  display: inline-block;
  background: url(../images/bell.svg) no-repeat;
  width: 25px;
  height: 25px;
  margin-right: 0.6em;
  vertical-align: middle;
}

@media print {
  .top_bar #searchform,
.content-weather,
body.home .slider_wrapper,
.blog-latest,
.indice_anclas,
.hamburger,
.footer,
body.page .ppb_module_cta_imagen_texto_boton {
    display: none !important;
  }

  body {
    font-size: 70%;
    margin: 20px;
  }

  .ppb_wrapper a:link:after {
    content: " (" attr(href) ") ";
  }

  h1, h2, h3, h4, h5, h6 {
    color: #002855 !important;
  }

  .page-breadcrumb-wrapper {
    margin: 10px auto;
  }

  .page-breadcrumb .the-modified-date {
    font-size: 14px;
    text-align: left;
  }

  body.home .ppb_secciones_destacadas .page_content_wrapper .box {
    width: 200px;
  }
  body.home .ppb_secciones_destacadas .page_content_wrapper h3 {
    font-size: 20px;
  }
  body.home .ppb_descubre .page_content_wrapper .title,
body.home .ppb_gestion_municipal .page_content_wrapper .title {
    font-size: 40px;
  }
  body.home .ppb_descubre .page_content_wrapper .box {
    width: 100%;
    height: auto;
  }
  body.home .ppb_descubre .page_content_wrapper .image {
    float: left;
    margin-right: 1em;
  }
  body.home .ppb_descubre .page_content_wrapper h3 {
    display: block;
    margin: 0;
    text-align: left;
  }
  body.home .ppb_gestion_municipal .page_content_wrapper .box .image {
    width: 80px;
  }
  body.home .ppb_gestion_municipal .page_content_wrapper .box h3 {
    font-size: 16px;
  }

  body.page .bilder_modul.fixed {
    padding-bottom: 100px;
  }
  body.page .bilder_modul .col-md {
    width: 100%;
  }
  body.page .bilder_modul .col-md-8 {
    margin-bottom: 2em;
  }
  body.page .bilder_modul .page_content_wrapper .col-md-8 .content h2 {
    font-size: 40px;
    line-height: 58px;
  }
  body.page .bilder_modul .page_content_wrapper .col-md-8 .content p {
    font-size: 22px;
  }
  body.page .bilder_modul .page_content_wrapper .col-md-8 .content ul li {
    font-size: 20px;
  }
  body.page .bilder_modul .page_content_wrapper .col-md-4 .content ul {
    column-count: 2;
  }
  body.page .bilder_modul .page_content_wrapper .col-md-4 .content ul li {
    margin-right: 30px;
    font-weight: normal;
    font-size: 20px;
  }
  body.page .bilder_modul .page_content_wrapper .col-md-4 .content ul li img {
    max-width: 30px;
  }
  body.page .titular_bajada_c1_c2 .page_content_wrapper {
    max-width: none;
  }
  body.page .titular_bajada_c1_c2 .page_content_wrapper .col-md-12 .content h2 {
    font-size: 40px;
  }
  body.page .titular_bajada_c1_c2 .page_content_wrapper .col-md-6 .content img {
    float: none;
    max-width: 400px;
  }
  body.page .titular_bajada_c1_c2 .col-md-6 {
    float: none;
    width: 100%;
  }
  body.page .ppb_module_cta_imagen_texto_boton .page_content_wrapper .col-md-12 .content h3 {
    font-size: 20px;
    line-height: 30px;
  }
  body.page .ppb_module_centros-salud ul {
    flex-direction: column;
  }
  body.page .ppb_module_centros-salud ul .centro-salud {
    width: 100%;
    background-color: transparent;
    display: flex;
  }
  body.page .ppb_module_centros-salud ul .centro-salud .featured-image {
    height: 200px;
  }
  body.page .ppb_module_centros-salud ul .centro-salud .featured-image img {
    max-width: 400px;
  }

  body.page-empleo #dejanos-tu-cv .box-cta {
    display: none;
  }
}

/*# sourceMappingURL=fixes.css.map */
